{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition - 团队-管理",
    "version": "v0",
    "description": "模块: 团队-管理"
  },
  "servers": [
    {
      "url": "http://server.bsuniversal.cn:10006",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "团队-管理",
      "description": "用户自助：我的团队列表、切换团队、加入/退出团队、查看申请状态"
    },
    {
      "name": "团队-管理",
      "description": "团队CRUD、成员管理、角色权限分配、邀请码管理、加入申请审批"
    }
  ],
  "paths": {
    "/api/teams/{teamId}": {
      "get": {
        "tags": ["团队-管理"],
        "summary": "团队详情",
        "description": "获取指定团队的详细信息。返回字段: id、teamName、teamCode(系统自动生成)、description、avatar、memberLimit(成员上限)、ownerId、ownerName、memberCount(当前成员数)、adminCount(管理员数)、pendingCount(待审核数)、status(0-禁用/1-正常)、createTime、updateTime。",
        "operationId": "getTeamDetail",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTeamDetailVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["团队-管理"],
        "summary": "更新团队",
        "description": "部分更新团队基本信息,仅更新传入的非null字段。请求参数(全部可选): teamName(2-50字符)、description(最大500字符)、avatar(头像URL)。修改名称时校验团队内唯一性。需要团队管理员权限。",
        "operationId": "updateTeam",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/{teamId}/roles/{roleId}": {
      "put": {
        "tags": ["团队-管理"],
        "summary": "更新角色",
        "description": "部分更新团队自定义角色的名称和描述,仅更新传入的非null字段。请求参数(全部可选): roleName(最长100字符)、description(最长500字符)。需要团队管理员权限。",
        "operationId": "updateRole",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "roleId",
            "in": "path",
            "description": "角色ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "r1a2b3c4"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamRoleUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["团队-管理"],
        "summary": "删除角色",
        "description": "逻辑删除自定义角色。关联的 TeamRolePermission 记录全部删除。引用该角色的成员(team_member.team_role_id = roleId)的 teamRoleId 和 teamRoleCode 两个字段同时被置空,成员降级为普通成员角色(role保持原值,仅清除自定义角色关联)。需要团队管理员权限。",
        "operationId": "deleteRole",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "roleId",
            "in": "path",
            "description": "角色ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "r1a2b3c4"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/{teamId}/roles/{roleId}/permissions": {
      "get": {
        "tags": ["团队-管理"],
        "summary": "角色权限详情",
        "description": "获取角色的权限码列表。返回 TeamRoleDetailVO 含 id、roleName、roleCode、description、permissionCodes(权限码列表)。",
        "operationId": "getRolePermissions",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "roleId",
            "in": "path",
            "description": "角色ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "r1a2b3c4"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTeamRoleDetailVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["团队-管理"],
        "summary": "设置角色权限",
        "description": "覆盖式设置角色关联的权限码列表(先删除所有旧权限,再批量插入新权限)。每个权限码会校验是否在 sys_permission 表中存在。需要团队管理员权限。",
        "operationId": "setRolePermissions",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "roleId",
            "in": "path",
            "description": "角色ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "r1a2b3c4"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "权限码列表,如 [\"project:create\",\"member:read\",\"asset:read\"]",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/{teamId}/owner": {
      "put": {
        "tags": ["团队-管理"],
        "summary": "转移所有权",
        "description": "将团队所有权转移给其他活跃成员。新所有者角色设为admin,旧所有者降级为普通成员(member)。仅当前所有者可操作。",
        "operationId": "transferOwnership",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "newOwnerId",
            "in": "query",
            "description": "新所有者的用户ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1005
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/{teamId}/members/{memberId}/permissions": {
      "get": {
        "tags": ["团队-管理"],
        "summary": "成员权限",
        "description": "获取指定成员的细粒度权限列表。返回 MemberPermissionVO 含 memberId、userId、username、permissions(权限码列表)。需要团队管理员权限。",
        "operationId": "getMemberPermissions",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "memberId",
            "in": "path",
            "description": "成员记录ID(team_member.id)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultMemberPermissionVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["团队-管理"],
        "summary": "设置权限",
        "description": "覆盖式设置成员的细粒度权限码列表(先删除所有旧权限,再批量插入新权限)。每个权限码会校验是否在 sys_permission 表中存在,无效权限码将被拒绝。需要团队管理员权限。",
        "operationId": "setMemberPermissions",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "memberId",
            "in": "path",
            "description": "成员记录ID(team_member.id)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "权限码列表,如 [\"project:create\",\"project:edit\",\"member:view\"]",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/{teamId}/members/status": {
      "put": {
        "tags": ["团队-管理"],
        "summary": "更新成员状态",
        "description": "启用(1)或禁用(0)指定成员。团队所有者不可被禁用。禁用后刷新该成员的团队上下文。需要团队管理员权限。",
        "operationId": "updateMemberStatus",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "memberId",
            "in": "query",
            "description": "目标成员记录ID(team_member.id)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "status",
            "in": "query",
            "description": "目标状态: 1-启用, 0-禁用",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/{teamId}/members/role": {
      "put": {
        "tags": ["团队-管理"],
        "summary": "更新成员角色",
        "description": "修改成员角色,支持系统角色和自定义角色。请求参数: memberId(必填,成员记录ID)、role(必填,角色编码:admin-管理员/member-普通成员/自定义角色编码)、teamRoleId(自定义角色ID,分配自定义角色时必填)。系统角色(admin/member)和自定义角色互斥:传teamRoleId则使用自定义角色编码,否则使用role参数。升级为admin时受团队管理员数量上限(maxAdminsPerTeam)限制。需要团队管理员权限。",
        "operationId": "updateMemberRole",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberRoleUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/{teamId}/applications/{id}/reject": {
      "put": {
        "tags": ["团队-管理"],
        "summary": "审批拒绝",
        "description": "拒绝加入申请。更新申请状态为3(已拒绝),记录处理人和拒绝原因。需要团队管理员权限。",
        "operationId": "rejectApplication",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "description": "申请记录ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "reason",
            "in": "query",
            "description": "拒绝原因",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "暂不符合团队招募要求"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/{teamId}/applications/{id}/approve": {
      "put": {
        "tags": ["团队-管理"],
        "summary": "审批通过",
        "description": "通过加入申请。自动创建 TeamMember 记录(role=member, status=1)并刷新申请人的团队上下文。受团队成员上限(memberLimit)限制,超限时审批失败。需要团队管理员权限。",
        "operationId": "approveApplication",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "description": "申请记录ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/member/switch": {
      "put": {
        "tags": ["团队-管理"],
        "summary": "切换团队",
        "description": "切换当前用户活跃团队上下文(Redis存储),后续所有项目相关操作自动使用该团队。请求参数: teamId(必填,目标团队ID,用户必须是该团队成员)。带1秒防抖保护,限制:10次/分钟。",
        "operationId": "switchTeam",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamSwitchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/{teamId}/roles": {
      "get": {
        "tags": ["团队-管理"],
        "summary": "角色列表",
        "description": "获取团队内所有自定义角色列表。返回 TeamRoleVO 含 id、roleName、roleCode、description、permissionCount(关联权限数量)、memberCount(拥有该角色的成员数量)。",
        "operationId": "listRoles",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultListTeamRoleVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["团队-管理"],
        "summary": "创建角色",
        "description": "在团队中创建自定义角色。请求参数: roleName(必填,最长100字符)、roleCode(必填,字母数字下划线,最长100字符,团队内唯一)、description(可选,最长500字符)。使用数据库行级锁防止并发重复创建。支持软删除角色的复活(insertOrReactivate)。需要团队管理员权限。",
        "operationId": "createRole",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamRoleCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTeamRoleVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/{teamId}/members/import": {
      "post": {
        "tags": ["团队-管理"],
        "summary": "批量导入",
        "description": "批量添加用户为团队成员。请求参数: userIds(必填,用户ID列表)。自动跳过已是团队成员的userId,受团队成员上限(memberLimit,默认50)限制,超出上限时停止添加。新成员自动分配 role=\"member\"、status=1(正常)。每个成功添加的用户会刷新团队上下文。需要团队管理员权限。",
        "operationId": "batchImportMembers",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberBatchImportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/{teamId}/invite-codes": {
      "get": {
        "tags": ["团队-管理"],
        "summary": "邀请码列表",
        "description": "分页查询团队的邀请码,可按状态筛选,按创建时间倒序排列。返回 InviteCodeVO 含 id、code(邀请码字符串,格式 INV-{TEAM_CODE}-{RANDOM_8})、teamId、teamName、createdBy、createdByName、maxUses(最大使用次数)、usedCount(已使用次数)、remainingUses(剩余次数=maxUses-usedCount)、expireTime(null=永不过期)、status(1-有效/0-已撤销/2-已过期)、createTime。需要团队管理员权限。",
        "operationId": "listInviteCodes",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "status",
            "in": "query",
            "description": "邀请码状态: 1-有效, 0-已撤销, 2-已过期, null-所有",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "page",
            "in": "query",
            "description": "当前页码",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页大小",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultPageResultInviteCodeVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["团队-管理"],
        "summary": "创建邀请码",
        "description": "为团队创建邀请码,自动生成唯一邀请码字符串(格式 INV-{TEAM_CODE}-{RANDOM_8},最多重试5次防碰撞)。请求参数: teamId(必填)、maxUses(可选,最大使用次数,默认1)、expireTime(可选,LocalDateTime格式,null=永不过期)。返回 InviteCodeVO 含 createdByName、remainingUses 等完整信息。需要团队管理员权限。",
        "operationId": "createInviteCode",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteCodeCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInviteCodeVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/member/leave": {
      "post": {
        "tags": ["团队-管理"],
        "summary": "退出团队",
        "description": "主动退出指定团队。重要——此操作会级联清理用户在该团队内所有项目中的成员关系和权限:遍历团队下所有项目,逻辑删除 ProjectMember 记录并删除 ProjectMemberPermission 记录。同时删除 TeamMemberPermission 记录。团队所有者不可退出,需先转移所有权。限制:5次/分钟。",
        "operationId": "leaveTeam",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "要退出的团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/member/join-by-code": {
      "post": {
        "tags": ["团队-管理"],
        "summary": "邀请码加入",
        "description": "通过邀请码加入团队,一步完成无需审批。加入流程: 1)校验邀请码有效性(状态=有效、未过期、未达使用上限); 2)校验团队状态(启用中); 3)检查团队成员上限(memberLimit); 4)检查是否已是活跃成员; 5)如果用户之前被移出团队(软删除记录存在),自动复活旧成员记录; 6)检查用户总团队数(最多10个团队); 7)创建/复活成员记录并原子性递增邀请码使用次数。并发保护: DuplicateKeyException 时自动降级为复活已有记录。限制:10次/分钟。",
        "operationId": "joinByInviteCode",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "邀请码字符串(格式 INV-{TEAM_CODE}-{RANDOM_8})",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ABCD-EFGH-IJKL"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/member/apply": {
      "post": {
        "tags": ["团队-管理"],
        "summary": "申请加入",
        "description": "提交加入团队的申请,等待管理员审批。请求参数: teamId(必填,目标团队ID)、reason(可选,申请理由)。校验: 团队存在且状态=正常,用户不是活跃团队成员,同一用户对同一团队无待审核的重复申请(JOIN_APPLICATION_ALREADY_HANDLED)。限制:10次/分钟。",
        "operationId": "applyToTeam",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinApplyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/{teamId}/members": {
      "get": {
        "tags": ["团队-管理"],
        "summary": "成员列表",
        "description": "分页查询团队成员的详细信息,可按状态筛选,按加入时间升序排列。返回字段: memberId、userId、username、email、avatar、role(admin-管理员/member-普通成员/自定义角色编码)、teamRoleId(自定义角色ID)、teamRoleCode(自定义角色编码)、nickName(团队内显示名称)、status(1-正常/2-待审核/0-禁用)、joinTime。",
        "operationId": "listMembers",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "status",
            "in": "query",
            "description": "成员状态筛选: 1-正常, 2-待审核, 0-禁用, null-所有",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "page",
            "in": "query",
            "description": "当前页码",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页大小",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultPageResultTeamMemberVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/{teamId}/available-permissions": {
      "get": {
        "tags": ["团队-管理"],
        "summary": "可分配权限列表",
        "description": "获取系统中所有预设权限码(来自 sys_permission 表,按模块排序)。返回 AvailablePermissionVO 含 permissionCode(权限编码)、permissionName(权限名称)、module(所属模块)。用于管理员分配角色/成员权限时的参考。",
        "operationId": "getAvailablePermissions",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultListAvailablePermissionVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/{teamId}/applications": {
      "get": {
        "tags": ["团队-管理"],
        "summary": "加入申请列表",
        "description": "分页查询团队的加入申请,可按状态筛选,按创建时间倒序排列。返回 JoinApplicationVO 含 id、teamId、teamName、userId、username、avatar、reason(申请理由)、status(1-待审核/2-已通过/3-已拒绝)、handledBy(处理人ID)、handledByName(处理人)、rejectReason(拒绝原因)、createTime(提交时间)、handleTime(处理时间)。需要团队管理员权限。",
        "operationId": "listApplications",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "status",
            "in": "query",
            "description": "申请状态: 1-待审核, 2-已通过, 3-已拒绝, null-所有",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "page",
            "in": "query",
            "description": "当前页码",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页大小",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultPageResultJoinApplicationVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/member/teams": {
      "get": {
        "tags": ["团队-管理"],
        "summary": "我的团队",
        "description": "获取当前用户加入的所有活跃(status=1)团队列表,自动过滤已删除或已禁用的团队。返回 UserTeamVO 含 teamId、teamName、teamCode、avatar、memberCount、memberLimit、memberId(成员记录ID)、role(admin/member)、status、isCurrent(是否为当前活跃团队)、joinTime。",
        "operationId": "listMyTeams",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultListUserTeamVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/member/permissions": {
      "get": {
        "tags": ["团队-管理"],
        "summary": "我的权限",
        "description": "获取当前用户在活跃团队中的权限码列表。如无活跃团队上下文,返回空列表 []。管理员(role=admin)拥有全部权限,返回 [\"*\"]。",
        "operationId": "getMyPermissions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultListString"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/member/applications": {
      "get": {
        "tags": ["团队-管理"],
        "summary": "我的申请",
        "description": "获取当前用户提交的所有加入申请记录,按创建时间倒序排列。返回 JoinApplicationVO 含 teamName、status(1-待审核/2-已通过/3-已拒绝)、handledByName、rejectReason、handleTime 等。",
        "operationId": "listMyApplications",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "当前页码",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页大小",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultPageResultJoinApplicationVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/{teamId}/members/{memberId}": {
      "delete": {
        "tags": ["团队-管理"],
        "summary": "移除成员",
        "description": "从团队中移除指定成员(逻辑删除)。重要——此操作会级联清理该成员在团队内所有项目中的成员关系和权限:遍历团队下所有项目,逻辑删除该用户的 ProjectMember 记录并删除其 ProjectMemberPermission 记录。同时删除该成员在团队中的细粒度权限记录(TeamMemberPermission)。团队所有者不可被移除。需要团队管理员权限。",
        "operationId": "removeMember",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "memberId",
            "in": "path",
            "description": "成员记录ID(team_member.id)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/{teamId}/invite-codes/{id}": {
      "delete": {
        "tags": ["团队-管理"],
        "summary": "撤销邀请码",
        "description": "撤销团队的指定邀请码(设置 status=0),撤销后不可恢复。需要团队管理员权限。",
        "operationId": "revokeInviteCode",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "团队ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "description": "邀请码记录ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResultTeamDetailVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/TeamDetailVO"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ResultObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "type": "object"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "TeamUpdateRequest": {
        "type": "object",
        "properties": {
          "teamName": {
            "maxLength": 50,
            "minLength": 2,
            "type": "string",
            "description": "团队名称, 长度 2-50",
            "example": "星辰创作团队"
          },
          "description": {
            "maxLength": 500,
            "minLength": 0,
            "type": "string",
            "description": "团队描述, 不超过 500 字",
            "example": "专注于AI短剧创作与内容创新"
          },
          "avatar": {
            "type": "string",
            "description": "团队头像URL",
            "example": "https://example.com/team-avatar/1.jpg"
          }
        }
      },
      "ResultVoid": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "type": "object"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "TeamRoleUpdateRequest": {
        "type": "object",
        "properties": {
          "roleName": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string",
            "description": "角色名称",
            "example": "高级编辑"
          },
          "description": {
            "maxLength": 500,
            "minLength": 0,
            "type": "string",
            "description": "角色描述",
            "example": "可编辑和管理项目内容"
          }
        },
        "description": "更新团队角色请求"
      },
      "ResultTeamRoleDetailVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/TeamRoleDetailVO"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ResultMemberPermissionVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/MemberPermissionVO"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "MemberRoleUpdateRequest": {
        "required": ["memberId", "role"],
        "type": "object",
        "properties": {
          "memberId": {
            "type": "string",
            "description": "目标成员ID, 对应 team_member.id",
            "example": "f933ba5e2eddeb341b3c3cad1eb763d2"
          },
          "role": {
            "type": "string",
            "description": "角色编码: admin-管理组/director-导演组/storyboard-分镜组/art-美术组/video-视频组/audio-声音组/edit-剪辑组, 或自定义角色编码",
            "example": "storyboard"
          },
          "teamRoleId": {
            "type": "string",
            "description": "自定义角色ID,关联 team_role.id。分配自定义角色时必填",
            "example": "role-uuid-xxx"
          }
        }
      },
      "TeamSwitchRequest": {
        "required": ["teamId"],
        "type": "object",
        "properties": {
          "teamId": {
            "type": "string",
            "description": "目标团队ID, 用户必须是该团队的成员",
            "example": "1"
          }
        }
      },
      "ResultListTeamRoleVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamRoleVO"
            }
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "TeamRoleCreateRequest": {
        "required": ["roleCode", "roleName"],
        "type": "object",
        "properties": {
          "roleName": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string",
            "description": "角色名称",
            "example": "编辑"
          },
          "roleCode": {
            "maxLength": 100,
            "minLength": 0,
            "pattern": "^[a-zA-Z0-9_]+$",
            "type": "string",
            "description": "角色编码(字母数字下划线，团队内唯一)",
            "example": "editor"
          },
          "description": {
            "maxLength": 500,
            "minLength": 0,
            "type": "string",
            "description": "角色描述",
            "example": "可编辑项目内容"
          }
        },
        "description": "创建团队角色请求"
      },
      "ResultTeamRoleVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/TeamRoleVO"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "MemberBatchImportRequest": {
        "required": ["userIds"],
        "type": "object",
        "properties": {
          "userIds": {
            "type": "array",
            "description": "用户ID列表, 需要导入的用户ID集合",
            "example": "1,2,3",
            "items": {
              "type": "string",
              "description": "用户ID列表, 需要导入的用户ID集合",
              "example": "1,2,3"
            }
          }
        }
      },
      "ResultPageResultInviteCodeVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/PageResultInviteCodeVO"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "InviteCodeCreateRequest": {
        "required": ["teamId"],
        "type": "object",
        "properties": {
          "teamId": {
            "type": "string",
            "description": "所属团队ID",
            "example": "1"
          },
          "maxUses": {
            "type": "integer",
            "description": "最大使用次数, 默认 1 次, 不传则为单次使用",
            "format": "int32",
            "example": 10
          },
          "expireTime": {
            "type": "string",
            "description": "过期时间, null 表示永不过期",
            "format": "date-time"
          }
        }
      },
      "ResultInviteCodeVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/InviteCodeVO"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "JoinApplyRequest": {
        "required": ["teamId"],
        "type": "object",
        "properties": {
          "teamId": {
            "type": "string",
            "description": "目标团队ID",
            "example": "1"
          },
          "reason": {
            "type": "string",
            "description": "申请理由(可选)",
            "example": "我对AI短剧创作非常感兴趣，希望能加入团队学习交流"
          }
        }
      },
      "ResultPageResultTeamMemberVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/PageResultTeamMemberVO"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ResultListAvailablePermissionVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AvailablePermissionVO"
            }
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ResultPageResultJoinApplicationVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/PageResultJoinApplicationVO"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ResultListUserTeamVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserTeamVO"
            }
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ResultListString": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      }
    }
  }
}
