{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition - 认证与用户",
    "version": "v0",
    "description": "模块: 认证与用户"
  },
  "servers": [
    {
      "url": "http://server.bsuniversal.cn:10006",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "认证与用户",
      "description": "用户注册、登录、个人信息、头像上传、Token刷新"
    },
    {
      "name": "认证与用户",
      "description": "图形验证码生成"
    }
  ],
  "paths": {
    "/api/auth/profile": {
      "put": {
        "tags": ["认证与用户"],
        "summary": "修改用户信息",
        "description": "部分更新当前登录用户的个人资料,仅更新传入的非null非blank字段,未传递的字段保持不变。请求参数(全部可选): username(3-50字符)、email(邮箱格式)、phone(最长20字符,无唯一性校验)。校验规则: 新用户名/邮箱不能与原值相同(否则抛PARAM_ERROR)、用户名查重(排除自身,否则USER_ALREADY_EXISTS)、邮箱查重(排除自身,否则EMAIL_ALREADY_EXISTS)、至少有一个字段需要更新。手机号更新不校验唯一性。返回更新后的完整 UserVO。",
        "operationId": "updateProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultUserVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "tags": ["认证与用户"],
        "summary": "用户注册",
        "description": "创建新用户账号。请求参数: username(可选,3-50字符,不传自动生成\"User_\"+12位hex)、password(必填,8-100字符,须含字母+数字,禁止常见弱密码如12345678/password/qwerty123)、email(可选,邮箱和手机号至少填一个)、phone(可选,最长20字符)、captchaKey(可选,图形验证码key)、captchaCode(可选,图形验证码输入)、avatar(可选,最长500字符,不传使用默认纯白SVG头像)、autoLogin(可选,Boolean,默认false,设为true时注册成功后自动登录并返回token)。注册流程: IP频率限制→图形验证码校验→密码复杂度校验→用户名查重(PostgreSQL咨询锁防并发)→邮箱查重→创建用户(BCrypt加密密码,status=1)→自动分配team_member角色→(autoLogin=true时)自动登录生成token→返回RegisterVO。返回 RegisterVO: 用户信息(id/username/email/phone/avatar/status/createTime/updateTime/roles) + autoLogin=true时附加token/refreshToken/tokenType/expiresIn/refreshExpiresIn。限制:5次/分钟。",
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultRegisterVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "tags": ["认证与用户"],
        "summary": "刷新 AccessToken(需登录)",
        "description": "基于旧AccessToken获取新的AccessToken。需要用户处于登录状态(需有效JWT)。流程: 校验当前登录态→查询用户→吊销旧Token(加入黑名单,移除旧会话)→生成新AccessToken→注册新会话。重要: 此接口仅刷新AccessToken,返回的LoginVO中refreshToken字段为null,不返回新RefreshToken。如需获取新的AccessToken+RefreshToken对,请使用 POST /api/auth/refresh-token。限制:10次/分钟。",
        "operationId": "refreshToken",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultLoginVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/refresh-token": {
      "post": {
        "tags": ["认证与用户"],
        "summary": "基于RefreshToken刷新(无需登录)",
        "description": "使用RefreshToken获取新的AccessToken+RefreshToken对。不需要用户处于登录状态(AccessToken过期时也可用)。请求参数: refreshToken(必填,RefreshToken字符串)。流程: 验证RefreshToken签名和类型→检查是否在黑名单→提取用户名→查询用户并校验状态(禁用用户拒绝)→吊销旧RefreshToken→生成新Token对→注册新会话。返回 LoginVO: 新的AccessToken+RefreshToken对,含双Token过期时间。与 POST /api/auth/refresh 的关键区别: ①不需要登录态,②返回新的RefreshToken,③仅限5次/分钟。",
        "operationId": "refreshAccessToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultLoginVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/password/reset": {
      "post": {
        "tags": ["认证与用户"],
        "summary": "重置密码",
        "description": "通过邮箱验证码验证身份后重置用户密码。请求参数: email(必填,邮箱格式)、captchaCode(必填,邮箱验证码)、newPassword(必填,8-100字符,须含字母+数字,禁止常见弱密码)。流程: IP防暴力破解频率限制→新密码复杂度校验→邮箱验证码校验(一次性消费,大小写不敏感)→查询用户→用户状态检查(禁用用户拒绝)→密码新旧相同检查(新密码不能与旧密码相同)→BCrypt加密新密码→更新数据库。重要——重置成功后强制清除该用户所有活跃会话(sessionService.removeAllSessions),迫使用户在所有设备上重新登录。限制:5次/分钟。",
        "operationId": "resetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordResetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": ["认证与用户"],
        "summary": "退出登录",
        "description": "将当前JWT Token加入Redis黑名单(黑名单TTL=Token剩余有效期,到期自动清理),移除当前活跃会话记录,清除SecurityContext。Token从请求头 Authorization: Bearer {token} 中提取。退出后Token不可再用。",
        "operationId": "logout",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": ["认证与用户"],
        "summary": "用户登录",
        "description": "支持用户名/邮箱/手机号登录(自动识别账号类型:含@→邮箱,纯数字→手机号,其他→用户名)。请求参数: account(必填,2-100字符,支持username/email/phone)、password(必填,6-100字符)、captchaKey(必填,图形验证码key)、captchaCode(必填,图形验证码输入)。登录流程: IP频率限制→账户锁定检查→图形验证码校验→SpringSecurity认证→清除失败计数→用户状态检查→生成双Token→注册活跃会话。安全机制: 连续失败N次锁定账户(可配置阈值+锁定时间),验证码一次性消费(大小写不敏感),IP级别频率限制。返回 LoginVO: token(AccessToken,默认12h)、refreshToken(RefreshToken,默认7d)、tokenType(\"Bearer\")、expiresIn(AccessToken过期秒数)、refreshExpiresIn(RefreshToken过期秒数)、userId、username、avatar、email。多设备管理: 最多3个活跃设备,超出时最旧会话失效。限制:10次/分钟。",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultLoginVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/captcha/email": {
      "post": {
        "tags": ["认证与用户"],
        "summary": "发送邮箱验证码",
        "description": "发送6位数字验证码到指定邮箱,用于密码重置。请求参数: email(必填,邮箱格式)。流程: 邮箱存在性检查(防枚举——邮箱未注册也返回成功,静默不发送)→IP频率限制→邮箱频率限制(同一邮箱60秒内只能发一次,使用Redis SETNX防并发)→生成6位随机数字→存入Redis(默认5分钟TTL)→发送HTML邮件。发送失败时自动清理Redis记录(验证码+频率限制)。限制:5次/分钟(控制器层)+IP级频率限制(服务层)。",
        "operationId": "sendEmailCaptcha",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailCaptchaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/avatar": {
      "post": {
        "tags": ["认证与用户"],
        "summary": "上传头像",
        "description": "上传本地图片文件作为当前登录用户的头像。上传流程: 校验MIME类型→校验文件大小→校验文件扩展名(须与MIME类型匹配)→上传至存储服务→更新数据库。格式限制: 仅支持 JPEG(.jpg/.jpeg)/PNG(.png)/GIF(.gif)/WebP(.webp),文件不超过5MB。存储路径: avatars/{userId}/{UUID}.{ext},旧头像不会被自动删除。请求格式: multipart/form-data,参数名 file。返回更新后的完整 UserVO。",
        "operationId": "uploadAvatar",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["file"],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "头像图片文件,支持JPEG/PNG/GIF/WebP,≤5MB",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultUserVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/permissions": {
      "get": {
        "tags": ["认证与用户"],
        "summary": "获取当前用户权限信息",
        "description": "返回用户在当前团队上下文中的完整权限信息: 角色组(roleGroup/roleGroupName/roleLevel)、可见模块列表(modules)、可执行操作列表(actions)、审核权限范围(reviewScopes)、团队信息(teamInfo)、参与的项目ID列表(projectIds)。teamId 可选，未传时使用当前团队上下文。结果缓存5分钟，角色变更时自动失效。",
        "operationId": "getPermissions",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "团队ID(可选,默认使用当前团队)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultPermissionResponseVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": ["认证与用户"],
        "summary": "获取当前用户",
        "description": "从SecurityContext中获取当前登录用户的完整个人信息。需要有效的JWT Token(Authorization: Bearer {token})。返回 UserVO: id(UUID)、username、email、phone、avatar(已解析为可访问URL/data URI)、status(0-禁用/1-正常)、createTime、updateTime、roles(系统角色编码列表,如[\"team_member\"])。",
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultUserVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/captcha": {
      "get": {
        "tags": ["认证与用户"],
        "summary": "获取图形验证码",
        "description": "生成4位数字字母组合的图形验证码图片(EasyCaptcha),返回Base64编码的PNG图片(data URI格式)和唯一标识key。验证码文本存入Redis(key=captcha:{uuid},默认TTL=5分钟可配置),验证时一次性消费(校验后立即删除GET+DELETE),大小写不敏感。返回 CaptchaVO: key(UUID无连字符,用于登录/注册时指定验证码)、image(Base64 data URI,可直接用于<img src>)。限制:10次/分钟。",
        "operationId": "getCaptcha",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultCaptchaVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/avatar/{userId}": {
      "get": {
        "tags": ["认证与用户"],
        "summary": "获取用户头像(公开)",
        "description": "根据用户ID获取头像信息,公开接口无需登录。与用户信息接口分离,减少不必要的数据传输,可用于前端列表/聊天等场景。返回 AvatarVO: userId、avatar(已解析为可访问URL/data URI)、mediaType(MIME类型如image/jpeg)。媒体类型通过文件名扩展名推断,默认jpeg。",
        "operationId": "getUserAvatar",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultAvatarVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/avatar/file": {
      "get": {
        "tags": ["认证与用户"],
        "summary": "获取头像文件流(代理)",
        "description": "通过后端代理获取当前用户的头像文件流,用于浏览器直接访问(<img>标签)。仅代理对象键存储的头像(avatars/{userId}/{UUID}.{ext}),以下类型返回404: data URI(默认纯白SVG头像)、外部URL(http/https)、file://路径。Content-Type根据文件扩展名自动推断(jpg/jpeg/png/gif/webp)。",
        "operationId": "getAvatarFile",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UpdateUserRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "邮箱",
            "example": "newemail@example.com"
          },
          "username": {
            "maxLength": 50,
            "minLength": 3,
            "type": "string",
            "description": "用户名",
            "example": "newusername"
          },
          "phone": {
            "type": "string",
            "description": "手机号",
            "example": "13900139000"
          }
        },
        "description": "修改用户信息请求"
      },
      "ResultUserVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/UserVO"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ResultObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "type": "object"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "RegisterRequest": {
        "required": ["password"],
        "type": "object",
        "properties": {
          "username": {
            "maxLength": 50,
            "minLength": 3,
            "type": "string",
            "description": "用户名(选填,不填则自动生成)",
            "example": "lisi"
          },
          "password": {
            "maxLength": 100,
            "minLength": 8,
            "type": "string",
            "description": "密码",
            "example": "Pass1234"
          },
          "email": {
            "type": "string",
            "description": "邮箱",
            "example": "lisi@example.com"
          },
          "phone": {
            "maxLength": 20,
            "minLength": 0,
            "type": "string",
            "description": "手机号",
            "example": "13800138000"
          },
          "captchaKey": {
            "type": "string",
            "description": "验证码 key, 调用 GET /api/auth/captcha 时返回的唯一标识",
            "example": "7c1e5a3b9d4f4e2cb8a61f3d5e7a9c2b"
          },
          "captchaCode": {
            "type": "string",
            "description": "验证码, 用户在验证码图片中看到的字符(不区分大小写)",
            "example": "A3xF9K"
          },
          "avatar": {
            "maxLength": 500,
            "minLength": 0,
            "type": "string",
            "description": "头像URL(选填,不填则使用默认纯白头像)",
            "example": "data:image/svg+xml,..."
          },
          "autoLogin": {
            "type": "boolean",
            "description": "是否自动登录(选填,默认false)。设为true时注册成功后直接返回token,无需再调登录接口",
            "example": true
          }
        }
      },
      "ResultRegisterVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/RegisterVO"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ResultLoginVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/LoginVO"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "RefreshTokenRequest": {
        "required": ["refreshToken"],
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string",
            "description": "RefreshToken",
            "example": "eyJhbGciOiJIUzI1NiIs..."
          }
        }
      },
      "PasswordResetRequest": {
        "required": ["captchaCode", "email", "newPassword"],
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "邮箱地址",
            "example": "user@example.com"
          },
          "captchaCode": {
            "type": "string",
            "description": "邮箱验证码",
            "example": "123456"
          },
          "newPassword": {
            "maxLength": 100,
            "minLength": 8,
            "type": "string",
            "description": "新密码",
            "example": "newPass123"
          }
        }
      },
      "ResultVoid": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "type": "object"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "LoginRequest": {
        "required": ["account", "captchaCode", "captchaKey", "password"],
        "type": "object",
        "properties": {
          "account": {
            "maxLength": 100,
            "minLength": 2,
            "type": "string",
            "description": "账号(用户名/邮箱/手机号)",
            "example": "zhangsan"
          },
          "password": {
            "maxLength": 100,
            "minLength": 8,
            "type": "string",
            "description": "密码",
            "example": "abc123456"
          },
          "captchaKey": {
            "type": "string",
            "description": "验证码 key, 调用 GET /api/auth/captcha 时返回的唯一标识",
            "example": "7c1e5a3b9d4f4e2cb8a61f3d5e7a9c2b"
          },
          "captchaCode": {
            "type": "string",
            "description": "验证码, 用户在验证码图片中看到的字符(不区分大小写)",
            "example": "A3xF9K"
          }
        }
      },
      "EmailCaptchaRequest": {
        "required": ["email"],
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "目标邮箱地址",
            "example": "user@example.com"
          }
        }
      },
      "ResultPermissionResponseVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/PermissionResponseVO"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ResultCaptchaVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/CaptchaVO"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ResultAvatarVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/AvatarVO"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      }
    }
  }
}
