{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition - 项目管理",
    "version": "v0",
    "description": "模块: 项目管理"
  },
  "servers": [
    {
      "url": "http://server.bsuniversal.cn:10006",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "项目管理",
      "description": "项目创建、编辑、归档、复制、成员管理、审核配置"
    }
  ],
  "paths": {
    "/api/projects/{projectId}": {
      "get": {
        "tags": ["项目管理"],
        "summary": "项目详情",
        "description": "获取项目详细信息。返回字段: projectName(项目名称)、description(描述)、coverImage(封面图片URL)、memberCount(成员数量)、adminCount(管理员数量)、status(状态)、createdBy(创建者ID)、creatorName(创建者)、storyboardCount(分镜总数)、videoCount(视频总数)、assetCount(素材数量)、createTime(创建时间)、updateTime(更新时间)。",
        "operationId": "getProjectDetail",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultProjectDetailVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["项目管理"],
        "summary": "更新项目",
        "description": "部分更新项目基本信息,仅更新传入的非null字段。请求参数: projectName(可选,最长200字符)、description(可选,最长2000字符)。封面图片请使用 POST /{projectId}/cover 接口单独上传。需要项目管理员或所有者权限。",
        "operationId": "updateProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["项目管理"],
        "summary": "删除项目",
        "description": "逻辑删除项目(可通过 POST /{projectId}/restore 恢复)。级联逻辑删除所有项目成员、项目配置和成员权限记录。仅项目所有者可操作。限制:10次/分钟。",
        "operationId": "deleteProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{projectId}/status": {
      "put": {
        "tags": ["项目管理"],
        "summary": "更新项目状态",
        "description": "按状态流转规则更新项目状态。合法转换: 0(草稿)→1(进行中); 1(进行中)→0(草稿)/2(已完成)/3(已归档); 2(已完成)→1(进行中)/3(已归档); 3(已归档)→1(进行中)。非法转换返回 PROJECT_STATUS_ERROR。需要项目管理员或所有者权限。",
        "operationId": "updateProjectStatus",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "status",
            "in": "query",
            "description": "目标状态: 0-草稿, 1-进行中, 2-已完成, 3-已归档",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{projectId}/review-config": {
      "get": {
        "tags": ["项目管理"],
        "summary": "获取审核门禁配置",
        "description": "获取项目的审核开关配置(分镜/首帧图/视频三级),所有项目成员可查看",
        "operationId": "getReviewConfig",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultProjectReviewConfigVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["项目管理"],
        "summary": "更新审核门禁配置",
        "description": "更新项目的三级审核开关配置。请求参数(全部可选,仅更新传入的非null字段,未传字段保留原值——Merge语义): storyboard(Boolean,分镜审核:true则分镜编写完成后需审核通过才能继续)、firstFrame(Boolean,首帧图审核:true则首帧图生成后需审核通过才能生成视频)、video(Boolean,视频审核:true则视频生成后需审核通过才能导出)。需要项目管理员或所有者权限。",
        "operationId": "updateReviewConfig",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectReviewConfigUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{projectId}/members/role": {
      "put": {
        "tags": ["项目管理"],
        "summary": "更新成员角色",
        "description": "修改成员在项目中的角色。请求参数: memberId(必填,成员记录ID)、role(必填,目标角色:admin-管理员/member-成员/viewer-观察者)。所有者(owner)角色不可被修改。需要项目管理员或所有者权限。",
        "operationId": "updateMemberRole_1",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "memberId",
            "in": "query",
            "description": "成员记录ID(project_member.id)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "role",
            "in": "query",
            "description": "目标角色: admin-管理员, member-成员, viewer-观察者",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "admin"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{projectId}/config": {
      "get": {
        "tags": ["项目管理"],
        "summary": "获取项目配置",
        "description": "获取项目的所有配置项(key-value Map)。支持的配置key包括:camera_types(镜头类型)、crane_modes(运镜模式)、ai_switches(AI开关)、video_spec(视频规格)、fps(帧率)、output_formats(输出格式)、aspect_ratio(宽高比)、resolution(分辨率)、template_id(模板ID)。返回值 ProjectConfigVO 包含 projectId 和 configs(Map<String,String>)两个字段。所有项目成员可查看。",
        "operationId": "getProjectConfig",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultProjectConfigVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["项目管理"],
        "summary": "更新项目配置",
        "description": "覆盖式更新项目的所有配置项。传入的 Map 会完全替换现有配置——在新 Map 中不存在的 key 会被删除。请求体为 Map<String,String> 格式的键值对,value 为 JSON 字符串。配置 key 白名单(仅允许以下9个): camera_types(镜头类型,如[\"全景\",\"中景\",\"近景\",\"特写\"]), crane_modes(运镜模式), ai_switches(AI功能开关,如{\"text_to_image\":true}), video_spec(视频规格), fps(帧率), output_formats(输出格式), aspect_ratio(宽高比), resolution(分辨率), template_id(模板ID)。约束: key 必须匹配正则 ^[a-z_][a-z0-9_]*$, value 最大长度 16384 字符(16KB)。非法 key 返回 CONFIG_KEY_INVALID, 超长 value 返回 CONFIG_VALUE_TOO_LONG。需要项目管理员或所有者权限。",
        "operationId": "updateProjectConfig",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "description": "配置项键值对,示例: {\"camera_types\":\"[\\\"全景\\\",\\\"中景\\\"]\", \"fps\":\"24\"}"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects": {
      "get": {
        "tags": ["项目管理"],
        "summary": "项目列表",
        "description": "分页查询当前活跃团队下的项目列表,支持按关键词(模糊匹配名称和描述)和状态筛选。团队ID从当前用户上下文自动获取,无需传入。支持排序字段 sortField(如 createTime)和排序方向 sortOrder(asc/desc)。返回字段: id(项目ID)、projectName(项目名称)、description(描述)、status(状态:0-草稿/1-进行中/2-已完成/3-已归档)、teamId(所属团队ID)、createdBy(创建者ID)、creatorName(创建者)、coverImage(封面URL)、memberCount(成员数量)、createTime(创建时间)。",
        "operationId": "listProjects",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "查询参数,支持分页(page/pageSize/sortField/sortOrder)、关键词搜索和状态筛选",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProjectQueryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultPageResultProjectVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["项目管理"],
        "summary": "创建项目",
        "description": "创建新项目。teamId自动从当前用户活跃团队上下文获取(无需传入),创建者自动成为项目所有者(role=owner)。请求参数: projectName(必填,最长200字符)、description(可选,最长2000字符)、coverImage(可选,封面图片URL)。项目状态自动设为0(草稿)。限制:20次/分钟。",
        "operationId": "createProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultProjectVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{projectId}/unarchive": {
      "post": {
        "tags": ["项目管理"],
        "summary": "解档项目",
        "description": "将已归档的项目恢复为进行中状态",
        "operationId": "unarchiveProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{projectId}/restore": {
      "post": {
        "tags": ["项目管理"],
        "summary": "恢复项目",
        "description": "从回收站恢复已删除的项目,同时批量恢复项目下的所有成员、配置和成员权限记录。仅项目所有者可操作。",
        "operationId": "restoreProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{projectId}/members": {
      "get": {
        "tags": ["项目管理"],
        "summary": "成员列表",
        "description": "分页查询项目成员列表,支持按用户名或邮箱搜索",
        "operationId": "listMembers_1",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "搜索关键词(可选,匹配用户名或邮箱)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "当前页码",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页大小",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultPageResultProjectMemberVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["项目管理"],
        "summary": "添加成员",
        "description": "向项目添加新成员。请求参数: userId(必填,用户ID)、role(必填,角色:admin-管理员/member-成员/viewer-观察者,默认member)。目标用户必须是项目所属团队的状态为正常(status=1)的成员。如果用户之前被移出项目(软删除记录存在),将复活旧记录而非创建新记录。需要项目管理员或所有者权限。限制:20次/分钟。",
        "operationId": "addMember",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectMemberAddRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{projectId}/cover": {
      "post": {
        "tags": ["项目管理"],
        "summary": "上传项目封面",
        "description": "上传项目封面图片。支持两种方式(二选一,不能同时提供):1) 上传本地图片(参数 file, MultipartFile, ≤5MB);2) 从URL拉取(参数 url, String, ≤10MB,有SSRF安全校验)。仅支持 JPEG/PNG/GIF/WebP 格式。上传成功后自动删除旧封面(仅当旧封面存储在内部存储时)。封面存储路径: project-covers/{projectId}/{UUID}.{ext}。返回 CoverUploadResponse 含 coverUrl 字段。需要项目管理员或所有者权限。限制:10次/分钟。",
        "operationId": "uploadCover",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "description": "封面图片URL(与 file 二选一, ≤10MB,会经过SSRF安全校验)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "封面图片文件(与 url 二选一,支持 JPEG/PNG/GIF/WebP, ≤5MB)",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultCoverUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{projectId}/copy": {
      "post": {
        "tags": ["项目管理"],
        "summary": "复制项目",
        "description": "基于已有项目创建新项目,复制内容:项目名称(默认\"原名 - 副本\")、描述、封面图片、团队归属和所有项目配置项(config)。不复制:成员关系和内容数据(分镜/视频/素材)。复制者自动成为新项目的所有者。请求参数: projectName(可选,最长200字符,不传自动生成)。需要项目管理员或所有者权限。",
        "operationId": "copyProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "源项目ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCopyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultProjectVO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{projectId}/archive": {
      "post": {
        "tags": ["项目管理"],
        "summary": "归档项目",
        "description": "将进行中或已完成的项目归档封存,归档后为只读状态",
        "operationId": "archiveProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{projectId}/statistics": {
      "get": {
        "tags": ["项目管理"],
        "summary": "项目统计",
        "description": "获取项目的各项统计指标。返回 Map<String,Object> 包含以下字段: memberCount(成员总数)、adminCount(管理员数量)、storyboardCount(分镜总数,当前硬编码为0,待分镜模块接入)、completedStoryboardCount(已完成分镜数,当前硬编码为0)、videoCount(视频总数,当前硬编码为0,待视频模块接入)、totalVideoDuration(视频总时长,当前硬编码为0)、assetCount(素材总数,当前硬编码为0,待资产模块接入)、assetStorageSize(素材存储空间,当前硬编码为0)。",
        "operationId": "getProjectStatistics",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultMapStringObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{projectId}/members/{memberId}": {
      "delete": {
        "tags": ["项目管理"],
        "summary": "移除成员",
        "description": "从项目中移除指定成员(逻辑删除)。同时删除该成员在项目中的所有细粒度权限记录(project_member_permission)。所有者(owner)不可被移除。需要项目管理员或所有者权限。",
        "operationId": "removeMember_1",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "memberId",
            "in": "path",
            "description": "成员记录ID(project_member.id)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResultProjectDetailVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/ProjectDetailVO"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ResultObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "type": "object"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ProjectUpdateRequest": {
        "type": "object",
        "properties": {
          "projectName": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string",
            "description": "项目名称",
            "example": "我的 AI 短剧-改"
          },
          "description": {
            "maxLength": 2000,
            "minLength": 0,
            "type": "string",
            "description": "项目描述",
            "example": "这是一个关于星际探险的 AI 短剧项目(第二季)"
          }
        },
        "description": "更新项目请求(封面通过 /api/projects/{projectId}/cover 单独上传)"
      },
      "ResultVoid": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "type": "object"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ResultProjectReviewConfigVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/ProjectReviewConfigVO"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ProjectReviewConfigUpdateRequest": {
        "type": "object",
        "properties": {
          "storyboard": {
            "type": "boolean",
            "description": "分镜审核开关",
            "example": true
          },
          "firstFrame": {
            "type": "boolean",
            "description": "首帧图审核开关",
            "example": false
          },
          "video": {
            "type": "boolean",
            "description": "视频审核开关",
            "example": true
          }
        },
        "description": "项目审核开关更新请求"
      },
      "ResultProjectConfigVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/ProjectConfigVO"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ProjectQueryRequest": {
        "type": "object",
        "properties": {
          "page": {
            "minimum": 1,
            "type": "integer",
            "description": "当前页码, 从 1 开始",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "maximum": 100,
            "minimum": 1,
            "type": "integer",
            "description": "每页大小, 最大 100",
            "format": "int32",
            "example": 10
          },
          "sortField": {
            "pattern": "^[a-zA-Z_][a-zA-Z0-9_]*$",
            "type": "string",
            "description": "排序字段, 如 createTime",
            "example": "createTime"
          },
          "sortOrder": {
            "pattern": "^(asc|desc|ASC|DESC)$",
            "type": "string",
            "description": "排序方向: asc-升序, desc-降序",
            "example": "desc"
          },
          "keyword": {
            "type": "string",
            "description": "搜索关键词(模糊匹配名称和描述)",
            "example": "AI 短剧"
          },
          "status": {
            "type": "integer",
            "description": "项目状态: 0-草稿, 1-进行中, 2-已完成, 3-已归档, null-所有",
            "format": "int32",
            "example": 1
          },
          "desc": {
            "type": "boolean"
          },
          "asc": {
            "type": "boolean"
          },
          "offset": {
            "type": "integer",
            "format": "int64"
          }
        },
        "description": "项目查询请求"
      },
      "ResultPageResultProjectVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/PageResultProjectVO"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ProjectCreateRequest": {
        "required": ["projectName"],
        "type": "object",
        "properties": {
          "projectName": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string",
            "description": "项目名称",
            "example": "我的 AI 短剧"
          },
          "description": {
            "maxLength": 2000,
            "minLength": 0,
            "type": "string",
            "description": "项目描述",
            "example": "这是一个关于星际探险的 AI 短剧项目"
          },
          "coverImage": {
            "type": "string",
            "description": "封面图片 URL",
            "example": "https://storage.example.com/projects/cover1.jpg"
          }
        },
        "description": "创建项目请求"
      },
      "ResultProjectVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/ProjectVO"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ResultPageResultProjectMemberVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/PageResultProjectMemberVO"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ProjectMemberAddRequest": {
        "required": ["role", "userId"],
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "description": "用户ID",
            "example": "1001"
          },
          "role": {
            "pattern": "^(admin|director|storyboard|art|video|audio|edit)$",
            "type": "string",
            "description": "成员角色组编码: admin/director/storyboard/art/video/audio/edit",
            "example": "director"
          }
        },
        "description": "添加项目成员请求"
      },
      "ResultCoverUploadResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/CoverUploadResponse"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ProjectCopyRequest": {
        "type": "object",
        "properties": {
          "projectName": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string",
            "description": "新项目名称(不指定则自动生成)",
            "example": "我的 AI 短剧(副本)"
          }
        },
        "description": "复制项目请求"
      },
      "ResultMapStringObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      }
    }
  }
}
