{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://server.bsuniversal.cn:10006","description":"Generated server url"}],"tags":[{"name":"提示词-审核","description":"AI视频提示词审核：提交审核、撤回审核、审核状态查询"},{"name":"积分-用量","description":"AI Token用量统计与历史查询"},{"name":"分镜-管理","description":"镜头(Scene)CRUD：镜头是分镜的容器，通常由后端自动创建，也可手动管理"},{"name":"系统配置","description":"Webhook回调配置：项目级webhook的创建、查询、删除"},{"name":"资产-库","description":"项目资产库：增删改查、上传下载、分片上传、版本管理"},{"name":"角色管理","description":"项目角色(人物角色)创建/编辑/删除及分镜角色关联"},{"name":"项目管理","description":"项目创建、编辑、归档、复制、成员管理、审核配置"},{"name":"管理后台-团队管理","description":"平台管理员团队管理接口"},{"name":"认证与用户","description":"用户注册、登录、个人信息、头像上传、Token刷新"},{"name":"数据-历史","description":"通用数据修改历史记录查询与版本回退"},{"name":"剧本-资产","description":"基于creative_asset资产表生成图像提示词、调用GPT-Image-2生成资产图片、内容安全审核"},{"name":"认证与用户","description":"图形验证码生成"},{"name":"审核-中心","description":"审核任务创建/决策/认领/归档/派发、驳回原因配置、路由配置、统计与导出"},{"name":"AI-处理记录","description":"AI工作流处理历史记录查询、处理状态追踪"},{"name":"管理后台-用户管理","description":"平台管理员用户管理接口"},{"name":"分镜-管理","description":"分镜CRUD、审核流程、版本管理、资产关联和配图管理"},{"name":"工作流执行","description":"Dify工作流执行/文件上传/状态查询/SSE流式推送,需JWT认证"},{"name":"文件服务","description":"存储文件HTTP代理，后端流式传输文件内容，浏览器无需直连MinIO"},{"name":"团队-管理","description":"用户自助：我的团队列表、切换团队、加入/退出团队、查看申请状态"},{"name":"剧本-拆解","description":"AI剧本拆解：调用Dify工作流将剧本拆解为多分集，按顺序存储"},{"name":"管理后台-仪表盘","description":"平台管理员仪表盘数据接口"},{"name":"视频-提示词","description":"将分镜拆解结果转换为Seedance视频提示词格式、违规检测、违规词自动修复"},{"name":"管理后台-审计日志","description":"平台管理员操作审计日志"},{"name":"分镜-管理","description":"AI分镜拆解与重建：将剧本分集拆解为段落和镜头，支持根据修改说明重建分镜"},{"name":"系统-配置","description":"AI视频生成模型配置管理(平台管理员)"},{"name":"剧本-内容生成","description":"AI风格配置：视觉风格生成、参考图风格反推，为分镜拆解和资产生成提供风格指导"},{"name":"工作流执行","description":"AI风格反推：从参考图推理视觉风格特征"},{"name":"通知-管理","description":"通知接收/管理、免打扰配置、偏好设置、订阅管理"},{"name":"剪辑-管理","description":"剪辑项目创建、片段管理、时间轴编辑、导出"},{"name":"工作流-管理","description":"Dify工作流配置CRUD、连接测试、API Key加密管理(平台管理员)"},{"name":"工作流执行","description":"自适应多模态工作流：文件自动上传、类型检测、链式编排、SSE流式执行"},{"name":"团队-管理","description":"团队CRUD、成员管理、角色权限分配、邀请码管理、加入申请审批"},{"name":"资产-库","description":"团队参考资产库：查询和上传接口"},{"name":"剧本-内容生成","description":"AI内容分析：人物小传生成、资产表提取(人物/场景/道具)、违规内容审核"},{"name":"剧本-内容生成","description":"根据人物小传生成TTS音色提示词，支持生理匹配校验和角色间区分度检查"},{"name":"数据-统计","description":"核心指标看板、趋势分析、项目/用户统计、报表导出"},{"name":"平台-管理","description":"平台管理员专属：全局团队列表、创建/删除/启用/禁用、成员管理"},{"name":"积分-用量","description":"积分余额查询、流水记录、定价配置"},{"name":"视频-生成","description":"Seedance 2.0：文生视频/图生视频/多模态参考生视频，提交生成、任务查询、结果获取"},{"name":"图片-生成","description":"GPT-Image-2：图片生成提交、任务状态查询、生成结果获取"},{"name":"剧本-资产","description":"剧本提取资产(人物/服装/场景/道具/其他)的CRUD管理"},{"name":"系统配置","description":"系统运行时配置CRUD、审计日志、敏感项脱敏(平台管理员)"},{"name":"剧本-管理","description":"剧本CRUD：创建、查询、更新、删除，剧本审核状态查询"},{"name":"管理后台-计费配置","description":"模型定价与积分转化比管理"}],"paths":{"/api/teams/{teamId}":{"get":{"tags":["团队-管理"],"summary":"团队详情","description":"获取指定团队的详细信息。返回字段: id、teamName、teamCode(系统自动生成)、description、avatar、memberLimit(成员上限)、ownerId、ownerName、memberCount(当前成员数)、adminCount(管理员数)、pendingCount(待审核数)、status(0-禁用/1-正常)、createTime、updateTime。","operationId":"getTeamDetail","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultTeamDetailVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["团队-管理"],"summary":"更新团队","description":"部分更新团队基本信息,仅更新传入的非null字段。请求参数(全部可选): teamName(2-50字符)、description(最大500字符)、avatar(头像URL)。修改名称时校验团队内唯一性。需要团队管理员权限。","operationId":"updateTeam","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/teams/{teamId}/roles/{roleId}":{"put":{"tags":["团队-管理"],"summary":"更新角色","description":"部分更新团队自定义角色的名称和描述,仅更新传入的非null字段。请求参数(全部可选): roleName(最长100字符)、description(最长500字符)。需要团队管理员权限。","operationId":"updateRole","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1},{"name":"roleId","in":"path","description":"角色ID","required":true,"schema":{"type":"string"},"example":"r1a2b3c4"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamRoleUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"delete":{"tags":["团队-管理"],"summary":"删除角色","description":"逻辑删除自定义角色。关联的 TeamRolePermission 记录全部删除。引用该角色的成员(team_member.team_role_id = roleId)的 teamRoleId 和 teamRoleCode 两个字段同时被置空,成员降级为普通成员角色(role保持原值,仅清除自定义角色关联)。需要团队管理员权限。","operationId":"deleteRole","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1},{"name":"roleId","in":"path","description":"角色ID","required":true,"schema":{"type":"string"},"example":"r1a2b3c4"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/teams/{teamId}/roles/{roleId}/permissions":{"get":{"tags":["团队-管理"],"summary":"角色权限详情","description":"获取角色的权限码列表。返回 TeamRoleDetailVO 含 id、roleName、roleCode、description、permissionCodes(权限码列表)。","operationId":"getRolePermissions","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1},{"name":"roleId","in":"path","description":"角色ID","required":true,"schema":{"type":"string"},"example":"r1a2b3c4"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultTeamRoleDetailVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["团队-管理"],"summary":"设置角色权限","description":"覆盖式设置角色关联的权限码列表(先删除所有旧权限,再批量插入新权限)。每个权限码会校验是否在 sys_permission 表中存在。需要团队管理员权限。","operationId":"setRolePermissions","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1},{"name":"roleId","in":"path","description":"角色ID","required":true,"schema":{"type":"string"},"example":"r1a2b3c4"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"权限码列表,如 [\"project:create\",\"member:read\",\"asset:read\"]","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/teams/{teamId}/owner":{"put":{"tags":["团队-管理"],"summary":"转移所有权","description":"将团队所有权转移给其他活跃成员。新所有者角色设为admin,旧所有者降级为普通成员(member)。仅当前所有者可操作。","operationId":"transferOwnership","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1},{"name":"newOwnerId","in":"query","description":"新所有者的用户ID","required":true,"schema":{"type":"string"},"example":1005}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/teams/{teamId}/members/{memberId}/permissions":{"get":{"tags":["团队-管理"],"summary":"成员权限","description":"获取指定成员的细粒度权限列表。返回 MemberPermissionVO 含 memberId、userId、username、permissions(权限码列表)。需要团队管理员权限。","operationId":"getMemberPermissions","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1},{"name":"memberId","in":"path","description":"成员记录ID(team_member.id)","required":true,"schema":{"type":"string"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMemberPermissionVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["团队-管理"],"summary":"设置权限","description":"覆盖式设置成员的细粒度权限码列表(先删除所有旧权限,再批量插入新权限)。每个权限码会校验是否在 sys_permission 表中存在,无效权限码将被拒绝。需要团队管理员权限。","operationId":"setMemberPermissions","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1},{"name":"memberId","in":"path","description":"成员记录ID(team_member.id)","required":true,"schema":{"type":"string"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"权限码列表,如 [\"project:create\",\"project:edit\",\"member:view\"]","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/teams/{teamId}/members/status":{"put":{"tags":["团队-管理"],"summary":"更新成员状态","description":"启用(1)或禁用(0)指定成员。团队所有者不可被禁用。禁用后刷新该成员的团队上下文。需要团队管理员权限。","operationId":"updateMemberStatus","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1},{"name":"memberId","in":"query","description":"目标成员记录ID(team_member.id)","required":true,"schema":{"type":"string"},"example":1},{"name":"status","in":"query","description":"目标状态: 1-启用, 0-禁用","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/teams/{teamId}/members/role":{"put":{"tags":["团队-管理"],"summary":"更新成员角色","description":"修改成员角色,支持系统角色和自定义角色。请求参数: memberId(必填,成员记录ID)、role(必填,角色编码:admin-管理员/member-普通成员/自定义角色编码)、teamRoleId(自定义角色ID,分配自定义角色时必填)。系统角色(admin/member)和自定义角色互斥:传teamRoleId则使用自定义角色编码,否则使用role参数。升级为admin时受团队管理员数量上限(maxAdminsPerTeam)限制。需要团队管理员权限。","operationId":"updateMemberRole","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberRoleUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/teams/{teamId}/applications/{id}/reject":{"put":{"tags":["团队-管理"],"summary":"审批拒绝","description":"拒绝加入申请。更新申请状态为3(已拒绝),记录处理人和拒绝原因。需要团队管理员权限。","operationId":"rejectApplication","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1},{"name":"id","in":"path","description":"申请记录ID","required":true,"schema":{"type":"string"},"example":1},{"name":"reason","in":"query","description":"拒绝原因","required":true,"schema":{"type":"string"},"example":"暂不符合团队招募要求"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/teams/{teamId}/applications/{id}/approve":{"put":{"tags":["团队-管理"],"summary":"审批通过","description":"通过加入申请。自动创建 TeamMember 记录(role=member, status=1)并刷新申请人的团队上下文。受团队成员上限(memberLimit)限制,超限时审批失败。需要团队管理员权限。","operationId":"approveApplication","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1},{"name":"id","in":"path","description":"申请记录ID","required":true,"schema":{"type":"string"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/teams/member/switch":{"put":{"tags":["团队-管理"],"summary":"切换团队","description":"切换当前用户活跃团队上下文(Redis存储),后续所有项目相关操作自动使用该团队。请求参数: teamId(必填,目标团队ID,用户必须是该团队成员)。带1秒防抖保护,限制:10次/分钟。","operationId":"switchTeam","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamSwitchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/storyboards/{storyboardId}":{"get":{"tags":["分镜-管理"],"summary":"获取分镜详情","description":"获取分镜完整信息,包括关联资产列表、配图列表和最近版本历史(最多10条)","operationId":"getStoryboardDetail","parameters":[{"name":"storyboardId","in":"path","description":"分镜ID","required":true,"schema":{"type":"string"},"example":"uuid-001"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultStoryboardDetailVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["分镜-管理"],"summary":"更新分镜","description":"部分更新分镜信息,仅更新传入的非空字段。更新前自动创建版本快照","operationId":"updateStoryboard","parameters":[{"name":"storyboardId","in":"path","description":"分镜ID","required":true,"schema":{"type":"string"},"example":"uuid-001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoryboardUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultStoryboardDetailVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"delete":{"tags":["分镜-管理"],"summary":"删除分镜","description":"软删除指定分镜,需要项目写入权限","operationId":"deleteStoryboard","parameters":[{"name":"storyboardId","in":"path","description":"分镜ID","required":true,"schema":{"type":"string"},"example":"uuid-001"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/statistics/teams/{teamId}/reports/scheduled/{id}":{"put":{"tags":["数据-统计"],"summary":"更新定时报表","description":"更新定时报表的配置信息","operationId":"updateScheduledReport","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":"team-001"},{"name":"id","in":"path","description":"报表ID","required":true,"schema":{"type":"string"},"example":"rpt-001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultStatisticsReportVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"delete":{"tags":["数据-统计"],"summary":"删除定时报表","description":"删除指定的定时报表配置","operationId":"deleteScheduledReport","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":"team-001"},{"name":"id","in":"path","description":"报表ID","required":true,"schema":{"type":"string"},"example":"rpt-001"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/scripts/{scriptId}":{"get":{"tags":["剧本-管理"],"summary":"获取剧本详情(含审核状态)","description":"获取剧本完整信息,包含正文内容、关联集数/分镜数、审核状态。审核状态字段说明: reviewStatus为null表示未提交审核,1=待审核,2=已通过,3=已驳回,4=已撤回; status字段: 1=草稿,2=待审核,3=已通过,4=已驳回","operationId":"getScriptDetail","parameters":[{"name":"scriptId","in":"path","description":"剧本ID","required":true,"schema":{"type":"string"},"example":"uuid-xxx"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultScriptDetailVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["剧本-管理"],"summary":"更新剧本","description":"更新剧本的标题、描述、正文内容或状态","operationId":"updateScript","parameters":[{"name":"scriptId","in":"path","description":"剧本ID","required":true,"schema":{"type":"string"},"example":"uuid-xxx"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScriptUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"delete":{"tags":["剧本-管理"],"summary":"删除剧本","description":"软删除指定剧本,需要项目写入权限","operationId":"deleteScript","parameters":[{"name":"scriptId","in":"path","description":"剧本ID","required":true,"schema":{"type":"string"},"example":"uuid-xxx"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/scripts/{scriptId}/episodes/{episodeId}":{"get":{"tags":["剧本-拆解"],"summary":"查询分集详情","description":"查询单个分集的完整内容。","operationId":"getEpisode","parameters":[{"name":"scriptId","in":"path","description":"剧本ID","required":true,"schema":{"type":"string"}},{"name":"episodeId","in":"path","description":"分集ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultScriptEpisodeVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["剧本-拆解"],"summary":"修改分集","description":"更新分集的内容、名称或排序索引。","operationId":"updateEpisode","parameters":[{"name":"scriptId","in":"path","description":"剧本ID","required":true,"schema":{"type":"string"}},{"name":"episodeId","in":"path","description":"分集ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScriptEpisodeUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultScriptEpisodeVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"delete":{"tags":["剧本-拆解"],"summary":"删除分集","description":"逻辑删除指定分集。","operationId":"deleteEpisode","parameters":[{"name":"scriptId","in":"path","description":"剧本ID","required":true,"schema":{"type":"string"}},{"name":"episodeId","in":"path","description":"分集ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/script-assets/{assetId}":{"get":{"tags":["剧本-资产"],"summary":"获取创意资产详情","description":"获取单个创意资产的详细信息,包含创建者名称、来源剧本标题和完整谱系链","operationId":"getAssetDetail_1","parameters":[{"name":"assetId","in":"path","description":"资产ID","required":true,"schema":{"type":"string"},"example":"uuid-xxx"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultCreativeAssetVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["剧本-资产"],"summary":"更新创意资产","description":"更新创意资产的名称、分类、描述、参考图、标签、审核状态、扩展数据或排序","operationId":"updateAsset","parameters":[{"name":"assetId","in":"path","description":"资产ID","required":true,"schema":{"type":"string"},"example":"uuid-xxx"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreativeAssetUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"delete":{"tags":["剧本-资产"],"summary":"删除创意资产","description":"软删除指定创意资产,需要项目写入权限","operationId":"deleteAsset","parameters":[{"name":"assetId","in":"path","description":"资产ID","required":true,"schema":{"type":"string"},"example":"uuid-xxx"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/scenes/{sceneId}/storyboards/reorder":{"put":{"tags":["分镜-管理"],"summary":"分镜重排序","description":"对指定镜头下的分镜进行重新排序,修改每个分镜的序号","operationId":"reorderStoryboards","parameters":[{"name":"sceneId","in":"path","description":"镜头ID","required":true,"schema":{"type":"string"},"example":"scene-001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoryboardReorderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/review/projects/{projectId}/route-config":{"get":{"tags":["审核-中心"],"summary":"获取审核路由配置","description":"获取指定项目的审核打回路由配置,包括驳回标记到目标组的映射关系","operationId":"getRouteConfig","parameters":[{"name":"projectId","in":"path","description":"项目ID","required":true,"schema":{"type":"string"},"example":"proj-001"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultReviewRouteConfigVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["审核-中心"],"summary":"更新审核路由配置","description":"更新指定项目的审核打回路由配置,需要项目管理员权限","operationId":"updateRouteConfig","parameters":[{"name":"projectId","in":"path","description":"项目ID","required":true,"schema":{"type":"string"},"example":"proj-001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewRouteConfigRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultReviewRouteConfigVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/projects/{projectId}":{"get":{"tags":["项目管理"],"summary":"项目详情","description":"获取项目详细信息。返回字段: projectName(项目名称)、description(描述)、coverImage(封面图片URL)、memberCount(成员数量)、adminCount(管理员数量)、status(状态)、createdBy(创建者ID)、creatorName(创建者)、storyboardCount(分镜总数)、videoCount(视频总数)、assetCount(素材数量)、createTime(创建时间)、updateTime(更新时间)。","operationId":"getProjectDetail","parameters":[{"name":"projectId","in":"path","description":"项目ID","required":true,"schema":{"type":"string"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultProjectDetailVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["项目管理"],"summary":"更新项目","description":"部分更新项目基本信息,仅更新传入的非null字段。请求参数: projectName(可选,最长200字符)、description(可选,最长2000字符)。封面图片请使用 POST /{projectId}/cover 接口单独上传。需要项目管理员或所有者权限。","operationId":"updateProject","parameters":[{"name":"projectId","in":"path","description":"项目ID","required":true,"schema":{"type":"string"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"delete":{"tags":["项目管理"],"summary":"删除项目","description":"逻辑删除项目(可通过 POST /{projectId}/restore 恢复)。级联逻辑删除所有项目成员、项目配置和成员权限记录。仅项目所有者可操作。限制:10次/分钟。","operationId":"deleteProject","parameters":[{"name":"projectId","in":"path","description":"项目ID","required":true,"schema":{"type":"string"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/projects/{projectId}/webhooks/{id}":{"put":{"tags":["系统配置"],"summary":"更新Webhook","operationId":"update","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookConfigRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultWebhookConfig"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"delete":{"tags":["系统配置"],"summary":"删除Webhook","operationId":"delete","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/projects/{projectId}/status":{"put":{"tags":["项目管理"],"summary":"更新项目状态","description":"按状态流转规则更新项目状态。合法转换: 0(草稿)→1(进行中); 1(进行中)→0(草稿)/2(已完成)/3(已归档); 2(已完成)→1(进行中)/3(已归档); 3(已归档)→1(进行中)。非法转换返回 PROJECT_STATUS_ERROR。需要项目管理员或所有者权限。","operationId":"updateProjectStatus","parameters":[{"name":"projectId","in":"path","description":"项目ID","required":true,"schema":{"type":"string"},"example":1},{"name":"status","in":"query","description":"目标状态: 0-草稿, 1-进行中, 2-已完成, 3-已归档","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/projects/{projectId}/review-config":{"get":{"tags":["项目管理"],"summary":"获取审核门禁配置","description":"获取项目的审核开关配置(分镜/首帧图/视频三级),所有项目成员可查看","operationId":"getReviewConfig","parameters":[{"name":"projectId","in":"path","description":"项目ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultProjectReviewConfigVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["项目管理"],"summary":"更新审核门禁配置","description":"更新项目的三级审核开关配置。请求参数(全部可选,仅更新传入的非null字段,未传字段保留原值——Merge语义): storyboard(Boolean,分镜审核:true则分镜编写完成后需审核通过才能继续)、firstFrame(Boolean,首帧图审核:true则首帧图生成后需审核通过才能生成视频)、video(Boolean,视频审核:true则视频生成后需审核通过才能导出)。需要项目管理员或所有者权限。","operationId":"updateReviewConfig","parameters":[{"name":"projectId","in":"path","description":"项目ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectReviewConfigUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/projects/{projectId}/members/role":{"put":{"tags":["项目管理"],"summary":"更新成员角色","description":"修改成员在项目中的角色。请求参数: memberId(必填,成员记录ID)、role(必填,目标角色:admin-管理员/member-成员/viewer-观察者)。所有者(owner)角色不可被修改。需要项目管理员或所有者权限。","operationId":"updateMemberRole_1","parameters":[{"name":"projectId","in":"path","description":"项目ID","required":true,"schema":{"type":"string"},"example":1},{"name":"memberId","in":"query","description":"成员记录ID(project_member.id)","required":true,"schema":{"type":"string"},"example":1},{"name":"role","in":"query","description":"目标角色: admin-管理员, member-成员, viewer-观察者","required":true,"schema":{"type":"string"},"example":"admin"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/projects/{projectId}/config":{"get":{"tags":["项目管理"],"summary":"获取项目配置","description":"获取项目的所有配置项(key-value Map)。支持的配置key包括:camera_types(镜头类型)、crane_modes(运镜模式)、ai_switches(AI开关)、video_spec(视频规格)、fps(帧率)、output_formats(输出格式)、aspect_ratio(宽高比)、resolution(分辨率)、template_id(模板ID)。返回值 ProjectConfigVO 包含 projectId 和 configs(Map<String,String>)两个字段。所有项目成员可查看。","operationId":"getProjectConfig","parameters":[{"name":"projectId","in":"path","description":"项目ID","required":true,"schema":{"type":"string"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultProjectConfigVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["项目管理"],"summary":"更新项目配置","description":"覆盖式更新项目的所有配置项。传入的 Map 会完全替换现有配置——在新 Map 中不存在的 key 会被删除。请求体为 Map<String,String> 格式的键值对,value 为 JSON 字符串。配置 key 白名单(仅允许以下9个): camera_types(镜头类型,如[\"全景\",\"中景\",\"近景\",\"特写\"]), crane_modes(运镜模式), ai_switches(AI功能开关,如{\"text_to_image\":true}), video_spec(视频规格), fps(帧率), output_formats(输出格式), aspect_ratio(宽高比), resolution(分辨率), template_id(模板ID)。约束: key 必须匹配正则 ^[a-z_][a-z0-9_]*$, value 最大长度 16384 字符(16KB)。非法 key 返回 CONFIG_KEY_INVALID, 超长 value 返回 CONFIG_VALUE_TOO_LONG。需要项目管理员或所有者权限。","operationId":"updateProjectConfig","parameters":[{"name":"projectId","in":"path","description":"项目ID","required":true,"schema":{"type":"string"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"description":"配置项键值对,示例: {\"camera_types\":\"[\\\"全景\\\",\\\"中景\\\"]\", \"fps\":\"24\"}"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/projects/{projectId}/characters/{characterId}":{"get":{"tags":["角色管理"],"summary":"角色详情","operationId":"getDetail","parameters":[{"name":"characterId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultCharacterVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["角色管理"],"summary":"更新角色","operationId":"update_1","parameters":[{"name":"characterId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CharacterUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultCharacterVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"delete":{"tags":["角色管理"],"summary":"删除角色","operationId":"delete_1","parameters":[{"name":"characterId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/projects/{projectId}/assets/{assetId}":{"get":{"tags":["资产-库"],"summary":"资产详情","description":"获取项目资产的详细信息,包括资产名称、类型、缩略图URL、文件大小、版本信息、分类路径、标签等","operationId":"getAssetDetail_2","parameters":[{"name":"projectId","in":"path","description":"项目ID","required":true,"schema":{"type":"string"},"example":"proj-001"},{"name":"assetId","in":"path","description":"资产ID","required":true,"schema":{"type":"string"},"example":"asset-001"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultAssetDetailVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["资产-库"],"summary":"更新资产","description":"更新项目资产的元数据信息,包括名称、描述、类型、分类、标签等","operationId":"updateAsset_1","parameters":[{"name":"projectId","in":"path","description":"项目ID","required":true,"schema":{"type":"string"},"example":"proj-001"},{"name":"assetId","in":"path","description":"资产ID","required":true,"schema":{"type":"string"},"example":"asset-001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"delete":{"tags":["资产-库"],"summary":"删除资产","description":"逻辑删除项目资产,资产移至回收站","operationId":"deleteAsset_1","parameters":[{"name":"projectId","in":"path","description":"项目ID","required":true,"schema":{"type":"string"},"example":"proj-001"},{"name":"assetId","in":"path","description":"资产ID","required":true,"schema":{"type":"string"},"example":"asset-001"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/notifications/preference":{"get":{"tags":["通知-管理"],"summary":"获取偏好","description":"获取当前用户的通知偏好设置","operationId":"getPreference","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultNotificationPreferenceVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["通知-管理"],"summary":"更新偏好","description":"更新当前用户的通知偏好设置","operationId":"updatePreference","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationPreferenceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/notifications/dnd":{"get":{"tags":["通知-管理"],"summary":"获取免打扰","description":"获取当前用户的免打扰设置","operationId":"getDnd","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultNotificationDndVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["通知-管理"],"summary":"更新免打扰","description":"更新当前用户的免打扰设置","operationId":"updateDnd","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationDndRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/edit/projects/{projectId}":{"get":{"tags":["剪辑-管理"],"summary":"剪辑项目详情","description":"获取剪辑项目详情,含片段列表和时间线","operationId":"getProjectDetail_1","parameters":[{"name":"projectId","in":"path","description":"剪辑项目ID","required":true,"schema":{"type":"string"},"example":"edit-001"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultEditProjectVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["剪辑-管理"],"summary":"更新剪辑项目","description":"更新剪辑项目名称或描述,需要团队管理员权限","operationId":"updateProject_1","parameters":[{"name":"projectId","in":"path","description":"剪辑项目ID","required":true,"schema":{"type":"string"},"example":"edit-001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditProjectCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultEditProjectVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"delete":{"tags":["剪辑-管理"],"summary":"删除剪辑项目","description":"删除剪辑项目及其所有片段,需要团队管理员权限","operationId":"deleteProject_1","parameters":[{"name":"projectId","in":"path","description":"剪辑项目ID","required":true,"schema":{"type":"string"},"example":"edit-001"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/edit/projects/{projectId}/segments/{segmentId}":{"put":{"tags":["剪辑-管理"],"summary":"更新片段","description":"更新片段的起止时间或特效配置","operationId":"updateSegment","parameters":[{"name":"projectId","in":"path","description":"剪辑项目ID","required":true,"schema":{"type":"string"},"example":"edit-001"},{"name":"segmentId","in":"path","description":"片段ID","required":true,"schema":{"type":"string"},"example":"seg-001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditSegmentCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"delete":{"tags":["剪辑-管理"],"summary":"删除片段","description":"从剪辑项目中删除指定片段","operationId":"deleteSegment","parameters":[{"name":"projectId","in":"path","description":"剪辑项目ID","required":true,"schema":{"type":"string"},"example":"edit-001"},{"name":"segmentId","in":"path","description":"片段ID","required":true,"schema":{"type":"string"},"example":"seg-001"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/edit/projects/{projectId}/segments/reorder":{"put":{"tags":["剪辑-管理"],"summary":"片段重排序","description":"调整片段在时间线上的顺序,需提供完整的排序列表","operationId":"reorderSegments","parameters":[{"name":"projectId","in":"path","description":"剪辑项目ID","required":true,"schema":{"type":"string"},"example":"edit-001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditSegmentReorderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/auth/profile":{"put":{"tags":["认证与用户"],"summary":"修改用户信息","description":"部分更新当前登录用户的个人资料,仅更新传入的非null非blank字段,未传递的字段保持不变。请求参数(全部可选): username(3-50字符)、email(邮箱格式)、phone(最长20字符,无唯一性校验)。校验规则: 新用户名/邮箱不能与原值相同(否则抛PARAM_ERROR)、用户名查重(排除自身,否则USER_ALREADY_EXISTS)、邮箱查重(排除自身,否则EMAIL_ALREADY_EXISTS)、至少有一个字段需要更新。手机号更新不校验唯一性。返回更新后的完整 UserVO。","operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultUserVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/admin/videos/models/{modelId}":{"put":{"tags":["系统-配置"],"summary":"更新模型","description":"更新AI视频生成模型配置,需要平台管理员权限","operationId":"updateModel","parameters":[{"name":"modelId","in":"path","description":"模型ID","required":true,"schema":{"type":"string"},"example":"model-001"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVideoModelVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"delete":{"tags":["系统-配置"],"summary":"删除模型","description":"删除AI视频生成模型配置,需要平台管理员权限","operationId":"deleteModel","parameters":[{"name":"modelId","in":"path","description":"模型ID","required":true,"schema":{"type":"string"},"example":"model-001"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/admin/users/{id}/status":{"put":{"tags":["管理后台-用户管理"],"summary":"启用/禁用用户","description":"status: 0=禁用, 1=启用","operationId":"toggleStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/admin/teams/{teamId}":{"get":{"tags":["平台-管理"],"summary":"团队详情(平台管理)","description":"获取任意团队详细信息,包含成员统计(ownerName/memberCount/adminCount/pendingCount)。与 TeamController 版本的区别:无需是该团队成员。需要平台管理员权限。","operationId":"getTeamDetail_1","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultTeamDetailVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["平台-管理"],"summary":"更新团队(平台管理)","description":"平台管理员更新任意团队基本信息。请求参数(全部可选,仅更新非null字段): teamName(2-50字符)、description(最长500字符)、avatar(头像URL)。需要平台管理员权限。","operationId":"updateTeam_1","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"delete":{"tags":["平台-管理"],"summary":"删除团队","description":"逻辑删除团队(设置 deleted=1),同时级联禁用所有团队成员(批量设置 status=0)。不可逆操作。需要平台管理员权限。","operationId":"deleteTeam","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/admin/teams/{teamId}/status":{"put":{"tags":["平台-管理"],"summary":"设置团队状态(平台管理)","description":"平台管理员启用(1)或禁用(0)指定团队。禁用后团队成员无法使用该团队的功能。需要平台管理员权限。","operationId":"setTeamStatus","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1},{"name":"status","in":"query","description":"目标状态: 1-启用, 0-禁用","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/admin/teams/{teamId}/owner":{"put":{"tags":["平台-管理"],"summary":"转移所有权(平台管理)","description":"平台管理员强制转移团队所有权,无需当前所有者同意。新所有者设为admin角色,旧所有者降级为普通成员(member)。与 TeamController 版本的区别:平台管理员可强制操作,无需是当前所有者。需要平台管理员权限。","operationId":"transferOwnership_1","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1},{"name":"newOwnerId","in":"query","description":"新所有者的用户ID","required":true,"schema":{"type":"string"},"example":1005}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/admin/members/{id}/status":{"put":{"tags":["平台-管理"],"summary":"更新成员状态(平台管理)","description":"启用(1)或禁用(0)指定成员。通过成员记录ID先查询所属团队和用户信息,再执行状态更新。团队所有者不可被禁用。此端点与 TeamController 版本的区别:不需要传 teamId,由系统通过 memberId 自动查询。需要平台管理员权限。","operationId":"updateMemberStatus_1","parameters":[{"name":"id","in":"path","description":"成员记录ID(team_member.id)","required":true,"schema":{"type":"string"},"example":1},{"name":"status","in":"query","description":"目标状态: 1-启用, 0-禁用","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/admin/dify-workflows/{id}":{"get":{"tags":["工作流-管理"],"summary":"查询工作流详情","description":"获取工作流完整配置,API Key 脱敏返回","operationId":"getDetail_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultDifyWorkflowDetailVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["工作流-管理"],"summary":"更新工作流","description":"更新工作流配置,仅更新传入的非 null 字段","operationId":"update_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DifyWorkflowUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultDifyWorkflowVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"delete":{"tags":["工作流-管理"],"summary":"删除工作流","description":"软删除工作流,已删除的工作流不影响历史调用记录","operationId":"delete_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/admin/config/{key}":{"get":{"tags":["系统配置"],"summary":"查询配置","description":"根据配置键获取单个配置详情, 敏感值自动脱敏","operationId":"getByKey","parameters":[{"name":"key","in":"path","description":"配置键","required":true,"schema":{"type":"string"},"example":"app.max_upload_size"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultConfigVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["系统配置"],"summary":"更新配置","description":"更新指定配置的值","operationId":"update_3","parameters":[{"name":"key","in":"path","description":"配置键","required":true,"schema":{"type":"string"},"example":"app.max_upload_size"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"delete":{"tags":["系统配置"],"summary":"删除配置","description":"删除指定配置","operationId":"delete_4","parameters":[{"name":"key","in":"path","description":"配置键","required":true,"schema":{"type":"string"},"example":"app.max_upload_size"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/admin/billing/{id}":{"get":{"tags":["管理后台-计费配置"],"summary":"定价详情","operationId":"detail_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultCreditPricingConfig"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["管理后台-计费配置"],"summary":"更新定价","description":"修改定价参数,自动记录调价历史","operationId":"update_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PricingUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultCreditPricingConfig"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/admin/billing/{id}/toggle":{"put":{"tags":["管理后台-计费配置"],"summary":"启用/停用定价","operationId":"toggle","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/admin/applications/{id}/reject":{"put":{"tags":["平台-管理"],"summary":"审批拒绝(平台管理)","description":"平台管理员拒绝任意团队的加入申请。更新申请状态为3(已拒绝),记录处理人和拒绝原因。需要平台管理员权限。","operationId":"rejectApplication_1","parameters":[{"name":"id","in":"path","description":"申请记录ID","required":true,"schema":{"type":"string"},"example":1},{"name":"reason","in":"query","description":"拒绝原因","required":true,"schema":{"type":"string"},"example":"暂不符合团队招募要求"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/admin/applications/{id}/approve":{"put":{"tags":["平台-管理"],"summary":"审批通过(平台管理)","description":"平台管理员审批通过任意团队的加入申请。自动创建 TeamMember 记录(role=member, status=1)并刷新申请人团队上下文。受团队成员上限(memberLimit)限制。需要平台管理员权限。","operationId":"approveApplication_1","parameters":[{"name":"id","in":"path","description":"申请记录ID","required":true,"schema":{"type":"string"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/teams/{teamId}/roles":{"get":{"tags":["团队-管理"],"summary":"角色列表","description":"获取团队内所有自定义角色列表。返回 TeamRoleVO 含 id、roleName、roleCode、description、permissionCount(关联权限数量)、memberCount(拥有该角色的成员数量)。","operationId":"listRoles","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListTeamRoleVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"post":{"tags":["团队-管理"],"summary":"创建角色","description":"在团队中创建自定义角色。请求参数: roleName(必填,最长100字符)、roleCode(必填,字母数字下划线,最长100字符,团队内唯一)、description(可选,最长500字符)。使用数据库行级锁防止并发重复创建。支持软删除角色的复活(insertOrReactivate)。需要团队管理员权限。","operationId":"createRole","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamRoleCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultTeamRoleVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/teams/{teamId}/members/import":{"post":{"tags":["团队-管理"],"summary":"批量导入","description":"批量添加用户为团队成员。请求参数: userIds(必填,用户ID列表)。自动跳过已是团队成员的userId,受团队成员上限(memberLimit,默认50)限制,超出上限时停止添加。新成员自动分配 role=\"member\"、status=1(正常)。每个成功添加的用户会刷新团队上下文。需要团队管理员权限。","operationId":"batchImportMembers","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberBatchImportRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/teams/{teamId}/invite-codes":{"get":{"tags":["团队-管理"],"summary":"邀请码列表","description":"分页查询团队的邀请码,可按状态筛选,按创建时间倒序排列。返回 InviteCodeVO 含 id、code(邀请码字符串,格式 INV-{TEAM_CODE}-{RANDOM_8})、teamId、teamName、createdBy、createdByName、maxUses(最大使用次数)、usedCount(已使用次数)、remainingUses(剩余次数=maxUses-usedCount)、expireTime(null=永不过期)、status(1-有效/0-已撤销/2-已过期)、createTime。需要团队管理员权限。","operationId":"listInviteCodes","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1},{"name":"status","in":"query","description":"邀请码状态: 1-有效, 0-已撤销, 2-已过期, null-所有","required":false,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"page","in":"query","description":"当前页码","required":false,"schema":{"type":"integer","format":"int32","default":1},"example":1},{"name":"pageSize","in":"query","description":"每页大小","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":10}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultPageResultInviteCodeVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"post":{"tags":["团队-管理"],"summary":"创建邀请码","description":"为团队创建邀请码,自动生成唯一邀请码字符串(格式 INV-{TEAM_CODE}-{RANDOM_8},最多重试5次防碰撞)。请求参数: teamId(必填)、maxUses(可选,最大使用次数,默认1)、expireTime(可选,LocalDateTime格式,null=永不过期)。返回 InviteCodeVO 含 createdByName、remainingUses 等完整信息。需要团队管理员权限。","operationId":"createInviteCode","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteCodeCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultInviteCodeVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/teams/{teamId}/assets":{"get":{"tags":["资产-库"],"summary":"团队资产列表","description":"分页查询团队参考资产库的资产列表,支持关键词/文件类型/分类等筛选","operationId":"listAssets","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":"team-001"},{"name":"query","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AssetQueryRequest"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultPageResultAssetVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"post":{"tags":["资产-库"],"summary":"上传团队资产","description":"上传文件到团队参考资产库,支持设置资产名称、类型和标签","operationId":"uploadFile","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":"team-001"},{"name":"assetName","in":"query","description":"资产名称","required":true,"schema":{"type":"string"},"example":"概念设计图_v2"},{"name":"assetType","in":"query","description":"资产类型: character/scene/prop/audio/template","required":true,"schema":{"type":"string"},"example":"character"},{"name":"categoryId","in":"query","description":"分类ID","required":false,"schema":{"type":"string"},"example":"cat-001"},{"name":"description","in":"query","description":"资产描述","required":false,"schema":{"type":"string"},"example":"主角正面全身立绘"},{"name":"tags","in":"query","description":"标签(逗号分隔)","required":false,"schema":{"type":"string"},"example":"主角,古风,立绘"},{"name":"allowDuplicate","in":"query","description":"是否允许重复上传(默认false,查重命中则返回已有资产)","required":false,"schema":{"type":"boolean","default":false},"example":false}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"上传文件","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultAssetVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/teams/member/leave":{"post":{"tags":["团队-管理"],"summary":"退出团队","description":"主动退出指定团队。重要——此操作会级联清理用户在该团队内所有项目中的成员关系和权限:遍历团队下所有项目,逻辑删除 ProjectMember 记录并删除 ProjectMemberPermission 记录。同时删除 TeamMemberPermission 记录。团队所有者不可退出,需先转移所有权。限制:5次/分钟。","operationId":"leaveTeam","parameters":[{"name":"teamId","in":"query","description":"要退出的团队ID","required":true,"schema":{"type":"string"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/teams/member/join-by-code":{"post":{"tags":["团队-管理"],"summary":"邀请码加入","description":"通过邀请码加入团队,一步完成无需审批。加入流程: 1)校验邀请码有效性(状态=有效、未过期、未达使用上限); 2)校验团队状态(启用中); 3)检查团队成员上限(memberLimit); 4)检查是否已是活跃成员; 5)如果用户之前被移出团队(软删除记录存在),自动复活旧成员记录; 6)检查用户总团队数(最多10个团队); 7)创建/复活成员记录并原子性递增邀请码使用次数。并发保护: DuplicateKeyException 时自动降级为复活已有记录。限制:10次/分钟。","operationId":"joinByInviteCode","parameters":[{"name":"code","in":"query","description":"邀请码字符串(格式 INV-{TEAM_CODE}-{RANDOM_8})","required":true,"schema":{"type":"string"},"example":"ABCD-EFGH-IJKL"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/teams/member/apply":{"post":{"tags":["团队-管理"],"summary":"申请加入","description":"提交加入团队的申请,等待管理员审批。请求参数: teamId(必填,目标团队ID)、reason(可选,申请理由)。校验: 团队存在且状态=正常,用户不是活跃团队成员,同一用户对同一团队无待审核的重复申请(JOIN_APPLICATION_ALREADY_HANDLED)。限制:10次/分钟。","operationId":"applyToTeam","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JoinApplyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/storyboards/{storyboardId}/withdraw-review":{"post":{"tags":["分镜-管理"],"summary":"撤回分镜审核","description":"将待审核(2)的分镜撤回到草稿(1)状态","operationId":"withdrawReview","parameters":[{"name":"storyboardId","in":"path","description":"分镜ID","required":true,"schema":{"type":"string"},"example":"uuid-001"},{"name":"reason","in":"query","description":"撤回原因","required":false,"schema":{"type":"string"},"example":"脚本台词需要修改"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/storyboards/{storyboardId}/versions/{versionId}/rollback":{"post":{"tags":["分镜-管理"],"summary":"回滚版本","description":"将分镜回滚到指定版本,回滚前自动创建当前版本快照","operationId":"rollbackVersion","parameters":[{"name":"storyboardId","in":"path","description":"分镜ID","required":true,"schema":{"type":"string"},"example":"uuid-001"},{"name":"versionId","in":"path","description":"目标版本ID","required":true,"schema":{"type":"string"},"example":"ver-001"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultStoryboardDetailVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/storyboards/{storyboardId}/submit-review":{"post":{"tags":["分镜-管理"],"summary":"提交分镜审核","description":"将分镜状态从草稿(1)或驳回(4)修改为待审核(2)","operationId":"submitForReview","parameters":[{"name":"storyboardId","in":"path","description":"分镜ID","required":true,"schema":{"type":"string"},"example":"uuid-001"},{"name":"note","in":"query","description":"提交备注","required":false,"schema":{"type":"string"},"example":"请审核第一场戏的分镜"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/storyboards/{storyboardId}/images":{"get":{"tags":["分镜-管理"],"summary":"获取分镜配图列表","description":"获取指定分镜的所有配图,按创建时间降序","operationId":"getStoryboardImages","parameters":[{"name":"storyboardId","in":"path","description":"分镜ID","required":true,"schema":{"type":"string"},"example":"uuid-001"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListStoryboardImageVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"post":{"tags":["分镜-管理"],"summary":"添加分镜配图","description":"为分镜添加配图,支持main(主图)/reference(参考图)/thumbnail(缩略图)三种类型","operationId":"addStoryboardImage","parameters":[{"name":"storyboardId","in":"path","description":"分镜ID","required":true,"schema":{"type":"string"},"example":"uuid-001"},{"name":"imageUrl","in":"query","description":"图片URL","required":true,"schema":{"type":"string"},"example":"https://cdn.example.com/image.jpg"},{"name":"imageType","in":"query","description":"图片类型: main/reference/thumbnail","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultStoryboardImageVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/storyboards/{storyboardId}/assets":{"get":{"tags":["分镜-管理"],"summary":"获取分镜关联资产","description":"获取指定分镜下所有关联的资产列表","operationId":"getStoryboardAssets","parameters":[{"name":"storyboardId","in":"path","description":"分镜ID","required":true,"schema":{"type":"string"},"example":"uuid-001"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListStoryboardAssetVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"post":{"tags":["分镜-管理"],"summary":"关联资产到分镜","description":"将资产库中的资产关联到指定分镜,同一分镜同一资产不可重复关联","operationId":"linkAsset","parameters":[{"name":"storyboardId","in":"path","description":"分镜ID","required":true,"schema":{"type":"string"},"example":"uuid-001"},{"name":"assetId","in":"query","description":"资产ID","required":true,"schema":{"type":"string"},"example":"asset-001"},{"name":"assetType","in":"query","description":"资产类型: character/scene/prop/clothes/audio","required":true,"schema":{"type":"string"},"example":"character"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/storyboards/batch-submit-review":{"post":{"tags":["分镜-管理"],"summary":"批量提交分镜审核","description":"批量提交多个分镜进入审核流程,单次最多100条","operationId":"batchSubmitForReview","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoryboardBatchOperationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/storyboards/batch-delete":{"post":{"tags":["分镜-管理"],"summary":"批量删除分镜","description":"批量软删除多个分镜,单次最多100条","operationId":"batchDeleteStoryboards","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoryboardBatchOperationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/statistics/teams/{teamId}/reports/scheduled":{"get":{"tags":["数据-统计"],"summary":"报表列表","description":"获取团队下的定时报表列表","operationId":"listScheduledReports","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":"team-001"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListStatisticsReportVO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"post":{"tags":["数据-统计"],"summary":"创建定时报表","description":"配置定时统计报表","operationId":"createScheduledReport","parameters":[{"name":"teamId","in":"path","description":"团队ID","required":true,"schema":{"type":"string"},"example":"team-001"}],"requestBody":{"content":{"application/
[...]
