{
  "openapi": "3.0.1",
  "info": {
    "title": "AstraCloud API 文档",
    "description": "AI短剧协作平台后端服务 API 文档\n\n## 接口调用说明\n\n1. **认证方式**: 使用 JWT Token 认证\n2. **Token 获取**: 调用 `/api/auth/login` 接口\n3. **Token 使用**: 在请求 Header 中添加 `Authorization: Bearer {token}`\n\n## 响应格式\n\n**成功响应** (HTTP 200):\n```json\n{\n  \"code\": 200,\n  \"message\": \"success\",\n  \"data\": {}\n}\n```\n\n**业务错误响应** (HTTP 200, 用 `code` 区分错误类型):\n```json\n{\n  \"code\": 1001,\n  \"message\": \"用户名或密码错误\",\n  \"data\": null\n}\n```\n\n## 错误码说明\n\n**重要**: 业务异常统一返回 HTTP 200, 通过响应体中的 `code` 字段区分错误类型。\n前端判断逻辑: `code === 200` 为成功, 其他值为错误。\n\n**通用 code:**\n- 200: 成功\n- 400: 参数校验失败\n- 401: 未认证(HTTP 401, 非业务异常)\n- 403: 无权限(HTTP 403, 非业务异常)\n- 404: 资源不存在\n- 429: 请求过于频繁\n- 500: 服务器内部错误\n\n**业务 code 范围:**\n- 1001~1017: 用户认证\n- 2001~2024: 团队管理\n- 3001~3068: 项目管理\n- 4001~4018: 分镜管理\n- 5001~5020: 审核任务\n- 6001~6115: 资产管理\n- 9001~9034: 通知系统\n- 9401~9429: Dify工作流\n- 其他: 详见 ErrorCode 枚举定义",
    "contact": {
      "name": "AstraCloud Team",
      "url": "https://www.astracloud.com",
      "email": "support@astracloud.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://server.bsuniversal.cn:10006",
      "description": "Generated server url"
    }
  ],
  "security": [{ "JWT": [] }],
  "tags": [
    { "name": "积分-用量", "description": "AI Token用量统计与历史查询" },
    {
      "name": "分镜-管理",
      "description": "镜头(Scene)CRUD：镜头是分镜的容器，通常由后端自动创建，也可手动管理"
    },
    {
      "name": "资产-库",
      "description": "项目资产库：增删改查、上传下载、分片上传、版本管理"
    },
    {
      "name": "项目管理",
      "description": "项目创建、编辑、归档、复制、成员管理、审核配置"
    },
    { "name": "管理后台-团队管理", "description": "平台管理员团队管理接口" },
    {
      "name": "剧本-资产",
      "description": "基于creative_asset资产表生成图像提示词、调用GPT-Image-2生成资产图片、内容安全审核"
    },
    {
      "name": "审核-中心",
      "description": "审核任务创建/决策/认领/归档/派发、驳回原因配置、路由配置、统计与导出"
    },
    { "name": "管理后台-用户管理", "description": "平台管理员用户管理接口" },
    {
      "name": "开发调试",
      "description": "仅dev/test环境：用户权限数据查询，用于排查权限问题"
    },
    { "name": "管理后台-仪表盘", "description": "平台管理员仪表盘数据接口" },
    {
      "name": "剧本-内容生成",
      "description": "AI风格配置：视觉风格生成、参考图风格反推，为分镜拆解和资产生成提供风格指导"
    },
    {
      "name": "剪辑-管理",
      "description": "剪辑项目创建、片段管理、时间轴编辑、导出"
    },
    {
      "name": "开发调试",
      "description": "仅dev/test环境：本地日志文件列表查看、内容读取、下载，无需认证"
    },
    {
      "name": "管理后台-菜单管理",
      "description": "平台管理员菜单管理 CRUD 及排序"
    },
    {
      "name": "工作流执行",
      "description": "自适应多模态工作流：文件自动上传、类型检测、链式编排、SSE流式执行"
    },
    { "name": "资产-库", "description": "团队参考资产库：查询和上传接口" },
    {
      "name": "剧本-内容生成",
      "description": "AI内容分析：人物小传生成、资产表提取(人物/场景/道具)、违规内容审核"
    },
    {
      "name": "剧本-内容生成",
      "description": "根据人物小传生成TTS音色提示词，支持生理匹配校验和角色间区分度检查"
    },
    {
      "name": "平台-管理",
      "description": "平台管理员专属：全局团队列表、创建/删除/启用/禁用、成员管理"
    },
    { "name": "积分-用量", "description": "积分余额查询、流水记录、定价配置" },
    {
      "name": "视频-生成",
      "description": "Seedance 2.0：文生视频/图生视频/多模态参考生视频，提交生成、任务查询、结果获取"
    },
    {
      "name": "剧本-资产",
      "description": "剧本提取资产(人物/服装/场景/道具/其他)的CRUD管理"
    },
    {
      "name": "系统配置",
      "description": "系统运行时配置CRUD、审计日志、敏感项脱敏(平台管理员)"
    },
    {
      "name": "剧本-管理",
      "description": "剧本CRUD：创建、查询、更新、删除，剧本审核状态查询"
    },
    {
      "name": "提示词-审核",
      "description": "AI视频提示词审核：提交审核、撤回审核、审核状态查询"
    },
    {
      "name": "系统配置",
      "description": "Webhook回调配置：项目级webhook的创建、查询、删除"
    },
    {
      "name": "开发调试",
      "description": "Dify调用链路端到端验证：直连测试/数据库调用/配置对比，仅dev环境"
    },
    {
      "name": "角色管理",
      "description": "项目角色(人物角色)创建/编辑/删除及分镜角色关联"
    },
    {
      "name": "认证与用户",
      "description": "用户注册、登录、个人信息、头像上传、Token刷新"
    },
    {
      "name": "数据-历史",
      "description": "通用数据修改历史记录查询与版本回退"
    },
    { "name": "认证与用户", "description": "图形验证码生成" },
    {
      "name": "AI-处理记录",
      "description": "AI工作流处理历史记录查询、处理状态追踪"
    },
    {
      "name": "分镜-管理",
      "description": "分镜CRUD、审核流程、版本管理、资产关联和配图管理"
    },
    { "name": "全量描述生成", "description": "人物/场景/道具全量描述生成接口" },
    {
      "name": "工作流执行",
      "description": "Dify工作流执行/文件上传/状态查询/SSE流式推送,需JWT认证"
    },
    {
      "name": "文件服务",
      "description": "存储文件HTTP代理，后端流式传输文件内容，浏览器无需直连MinIO"
    },
    {
      "name": "团队-管理",
      "description": "用户自助：我的团队列表、切换团队、加入/退出团队、查看申请状态"
    },
    {
      "name": "剧本-拆解",
      "description": "AI剧本拆解：调用Dify工作流将剧本拆解为多分集，按顺序存储"
    },
    {
      "name": "视频-提示词",
      "description": "将分镜拆解结果转换为Seedance视频提示词格式、违规检测、违规词自动修复"
    },
    { "name": "管理后台-审计日志", "description": "平台管理员操作审计日志" },
    {
      "name": "分镜-管理",
      "description": "AI分镜拆解与重建：将剧本分集拆解为段落和镜头，支持根据修改说明重建分镜"
    },
    {
      "name": "系统-配置",
      "description": "AI视频生成模型配置管理(平台管理员)"
    },
    {
      "name": "工作流执行",
      "description": "AI风格反推：从参考图推理视觉风格特征"
    },
    {
      "name": "通知-管理",
      "description": "通知接收/管理、免打扰配置、偏好设置、订阅管理"
    },
    {
      "name": "工作流-管理",
      "description": "Dify工作流配置CRUD、连接测试、API Key加密管理(平台管理员)"
    },
    {
      "name": "团队-管理",
      "description": "团队CRUD、成员管理、角色权限分配、邀请码管理、加入申请审批"
    },
    {
      "name": "开发调试",
      "description": "仅dev/test环境：授予/撤销管理员、项目批量清理(需平台管理员)"
    },
    {
      "name": "数据-统计",
      "description": "核心指标看板、趋势分析、项目/用户统计、报表导出"
    },
    {
      "name": "图片-生成",
      "description": "GPT-Image-2：图片生成提交、任务状态查询、生成结果获取"
    },
    { "name": "管理后台-计费配置", "description": "模型定价与积分转化比管理" }
  ],
  "paths": {
    "/api/auth/profile": {
      "put": {
        "tags": ["认证与用户"],
        "summary": "修改用户信息",
        "description": "部分更新当前登录用户的个人资料,仅更新传入的非null非blank字段,未传递的字段保持不变。请求参数(全部可选): username(3-50字符)、email(邮箱格式)、phone(最长20字符,无唯一性校验)。校验规则: 新用户名/邮箱不能与原值相同(否则抛PARAM_ERROR)、用户名查重(排除自身,否则USER_ALREADY_EXISTS)、邮箱查重(排除自身,否则EMAIL_ALREADY_EXISTS)、至少有一个字段需要更新。手机号更新不校验唯一性。当用户名发生变更时自动重新签发Token。返回 LoginVO(含新Token)。",
        "operationId": "updateProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateUserRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultLoginVO" }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          }
        }
      }
    },
    "/api/auth/test-login": {
      "post": {
        "tags": ["认证与用户"],
        "summary": "测试登录",
        "description": "免验证码的快速登录,仅测试环境使用",
        "operationId": "testLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LoginRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultLoginVO" }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "tags": ["认证与用户"],
        "summary": "用户注册",
        "description": "创建新用户账号。请求参数: username(可选,3-50字符,不传自动生成\"User_\"+12位hex)、password(必填,8-100字符,须含字母+数字,禁止常见弱密码如12345678/password/qwerty123)、email(可选,邮箱和手机号至少填一个)、phone(可选,最长20字符)、captchaKey(可选,图形验证码key)、captchaCode(可选,图形验证码输入)、avatar(可选,最长500字符,不传使用默认纯白SVG头像)、autoLogin(可选,Boolean,默认false,设为true时注册成功后自动登录并返回token)。注册流程: IP频率限制→图形验证码校验→密码复杂度校验→用户名查重(PostgreSQL咨询锁防并发)→邮箱查重→创建用户(BCrypt加密密码,status=1)→自动分配team_member角色→(autoLogin=true时)自动登录生成token→返回RegisterVO。返回 RegisterVO: 用户信息(id/username/email/phone/avatar/status/createTime/updateTime/roles) + autoLogin=true时附加token/refreshToken/tokenType/expiresIn/refreshExpiresIn。限制:5次/分钟。",
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RegisterRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultRegisterVO" }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "tags": ["认证与用户"],
        "summary": "刷新 AccessToken(需登录)",
        "description": "基于旧AccessToken获取新的AccessToken。需要用户处于登录状态(需有效JWT)。流程: 校验当前登录态→查询用户→吊销旧Token(加入黑名单,移除旧会话)→生成新AccessToken→注册新会话。重要: 此接口仅刷新AccessToken,返回的LoginVO中refreshToken字段为null,不返回新RefreshToken。如需获取新的AccessToken+RefreshToken对,请使用 POST /api/auth/refresh-token。限制:10次/分钟。",
        "operationId": "refreshToken",
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultLoginVO" }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          }
        }
      }
    },
    "/api/auth/refresh-token": {
      "post": {
        "tags": ["认证与用户"],
        "summary": "基于RefreshToken刷新(无需登录)",
        "description": "使用RefreshToken获取新的AccessToken+RefreshToken对。不需要用户处于登录状态(AccessToken过期时也可用)。请求参数: refreshToken(必填,RefreshToken字符串)。流程: 验证RefreshToken签名和类型→检查是否在黑名单→提取用户名→查询用户并校验状态(禁用用户拒绝)→吊销旧RefreshToken→生成新Token对→注册新会话。返回 LoginVO: 新的AccessToken+RefreshToken对,含双Token过期时间。与 POST /api/auth/refresh 的关键区别: ①不需要登录态,②返回新的RefreshToken,③仅限5次/分钟。",
        "operationId": "refreshAccessToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RefreshTokenRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultLoginVO" }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          }
        }
      }
    },
    "/api/auth/password/reset": {
      "post": {
        "tags": ["认证与用户"],
        "summary": "重置密码",
        "description": "通过邮箱验证码验证身份后重置用户密码。请求参数: email(必填,邮箱格式)、captchaCode(必填,邮箱验证码)、newPassword(必填,8-100字符,须含字母+数字,禁止常见弱密码)。流程: IP防暴力破解频率限制→新密码复杂度校验→邮箱验证码校验(一次性消费,大小写不敏感)→查询用户→用户状态检查(禁用用户拒绝)→密码新旧相同检查(新密码不能与旧密码相同)→BCrypt加密新密码→更新数据库。重要——重置成功后强制清除该用户所有活跃会话(sessionService.removeAllSessions),迫使用户在所有设备上重新登录。限制:5次/分钟。",
        "operationId": "resetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PasswordResetRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/ResultVoid" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": ["认证与用户"],
        "summary": "退出登录",
        "description": "将当前JWT Token加入Redis黑名单(黑名单TTL=Token剩余有效期,到期自动清理),移除当前活跃会话记录,清除SecurityContext。Token从请求头 Authorization: Bearer {token} 中提取。退出后Token不可再用。",
        "operationId": "logout",
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/ResultVoid" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": ["认证与用户"],
        "summary": "用户登录",
        "description": "支持用户名/邮箱/手机号登录(自动识别账号类型:含@→邮箱,纯数字→手机号,其他→用户名)。请求参数: account(必填,2-100字符,支持username/email/phone)、password(必填,6-100字符)、captchaKey(必填,图形验证码key)、captchaCode(必填,图形验证码输入)。登录流程: IP频率限制→账户锁定检查→图形验证码校验→SpringSecurity认证→清除失败计数→用户状态检查→生成双Token→注册活跃会话。安全机制: 连续失败N次锁定账户(可配置阈值+锁定时间),验证码一次性消费(大小写不敏感),IP级别频率限制。返回 LoginVO: token(AccessToken,默认12h)、refreshToken(RefreshToken,默认7d)、tokenType(\"Bearer\")、expiresIn(AccessToken过期秒数)、refreshExpiresIn(RefreshToken过期秒数)、userId、username、avatar、email。多设备管理: 最多3个活跃设备,超出时最旧会话失效。限制:10次/分钟。",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LoginRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultLoginVO" }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          }
        }
      }
    },
    "/api/auth/captcha/email": {
      "post": {
        "tags": ["认证与用户"],
        "summary": "发送邮箱验证码",
        "description": "发送6位数字验证码到指定邮箱,用于密码重置。请求参数: email(必填,邮箱格式)。流程: 邮箱存在性检查(防枚举——邮箱未注册也返回成功,静默不发送)→IP频率限制→邮箱频率限制(同一邮箱60秒内只能发一次,使用Redis SETNX防并发)→生成6位随机数字→存入Redis(默认5分钟TTL)→发送HTML邮件。发送失败时自动清理Redis记录(验证码+频率限制)。限制:5次/分钟(控制器层)+IP级频率限制(服务层)。",
        "operationId": "sendEmailCaptcha",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EmailCaptchaRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/ResultVoid" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          }
        }
      }
    },
    "/api/auth/avatar": {
      "post": {
        "tags": ["认证与用户"],
        "summary": "上传头像",
        "description": "上传本地图片文件作为当前登录用户的头像。上传流程: 校验MIME类型→校验文件大小→校验文件扩展名(须与MIME类型匹配)→上传至存储服务→更新数据库。格式限制: 仅支持 JPEG(.jpg/.jpeg)/PNG(.png)/GIF(.gif)/WebP(.webp),文件不超过5MB。存储路径: avatars/{userId}/{UUID}.{ext},旧头像不会被自动删除。请求格式: multipart/form-data,参数名 file。返回更新后的完整 UserVO。",
        "operationId": "uploadAvatar",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["file"],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "头像图片文件,支持JPEG/PNG/GIF/WebP,≤5MB",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultUserVO" }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          }
        }
      }
    },
    "/api/auth/permissions": {
      "get": {
        "tags": ["认证与用户"],
        "summary": "获取当前用户权限信息",
        "description": "返回用户在当前团队上下文中的完整权限信息: 角色组(roleGroup/roleGroupName/roleLevel)、可见模块列表(modules)、可执行操作列表(actions)、审核权限范围(reviewScopes)、团队信息(teamInfo)、参与的项目ID列表(projectIds)。teamId 可选，未传时使用当前团队上下文。结果缓存5分钟，角色变更时自动失效。",
        "operationId": "getPermissions",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "团队ID(可选,默认使用当前团队)",
            "required": false,
            "schema": { "type": "string" },
            "example": "a1b2c3d4"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultPermissionResponseVO"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": ["认证与用户"],
        "summary": "获取当前用户",
        "description": "从SecurityContext中获取当前登录用户的完整个人信息。需要有效的JWT Token(Authorization: Bearer {token})。返回 UserVO: id(UUID)、username、email、phone、avatar(已解析为可访问URL/data URI)、status(0-禁用/1-正常)、createTime、updateTime、roles(系统角色编码列表,如[\"team_member\"])。",
        "operationId": "getCurrentUser",
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultUserVO" }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          }
        }
      }
    },
    "/api/auth/captcha": {
      "get": {
        "tags": ["认证与用户"],
        "summary": "获取图形验证码",
        "description": "生成4位数字字母组合的图形验证码图片(EasyCaptcha),返回Base64编码的PNG图片(data URI格式)和唯一标识key。验证码文本存入Redis(key=captcha:{uuid},默认TTL=5分钟可配置),验证时一次性消费(校验后立即删除GET+DELETE),大小写不敏感。返回 CaptchaVO: key(UUID无连字符,用于登录/注册时指定验证码)、image(Base64 data URI,可直接用于<img src>)。限制:10次/分钟。",
        "operationId": "getCaptcha",
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultCaptchaVO" }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          }
        }
      }
    },
    "/api/auth/avatar/{userId}": {
      "get": {
        "tags": ["认证与用户"],
        "summary": "获取用户头像(公开)",
        "description": "根据用户ID获取头像信息,公开接口无需登录。与用户信息接口分离,减少不必要的数据传输,可用于前端列表/聊天等场景。返回 AvatarVO: userId、avatar(已解析为可访问URL/data URI)、mediaType(MIME类型如image/jpeg)。媒体类型通过文件名扩展名推断,默认jpeg。",
        "operationId": "getUserAvatar",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultAvatarVO" }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          }
        }
      }
    },
    "/api/auth/avatar/file": {
      "get": {
        "tags": ["认证与用户"],
        "summary": "获取头像文件流(代理)",
        "description": "通过后端代理获取当前用户的头像文件流,用于浏览器直接访问(<img>标签)。仅代理对象键存储的头像(avatars/{userId}/{UUID}.{ext}),以下类型返回404: data URI(默认纯白SVG头像)、外部URL(http/https)、file://路径。Content-Type根据文件扩展名自动推断(jpg/jpeg/png/gif/webp)。",
        "operationId": "getAvatarFile",
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "type": "string", "format": "binary" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResultObject" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResultObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": { "type": "object" },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "TeamUpdateRequest": {
        "type": "object",
        "properties": {
          "teamName": {
            "maxLength": 50,
            "minLength": 2,
            "type": "string",
            "description": "团队名称, 长度 2-50",
            "example": "星辰创作团队"
          },
          "description": {
            "maxLength": 500,
            "minLength": 0,
            "type": "string",
            "description": "团队描述, 不超过 500 字",
            "example": "专注于AI短剧创作与内容创新"
          },
          "avatar": {
            "type": "string",
            "description": "团队头像URL",
            "example": "https://example.com/team-avatar/1.jpg"
          }
        }
      },
      "ResultVoid": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": { "type": "object" },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "TeamRoleUpdateRequest": {
        "type": "object",
        "properties": {
          "roleName": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string",
            "description": "角色名称",
            "example": "高级编辑"
          },
          "description": {
            "maxLength": 500,
            "minLength": 0,
            "type": "string",
            "description": "角色描述",
            "example": "可编辑和管理项目内容"
          }
        },
        "description": "更新团队角色请求"
      },
      "MemberRoleUpdateRequest": {
        "required": ["memberId", "role"],
        "type": "object",
        "properties": {
          "memberId": {
            "type": "string",
            "description": "目标成员ID, 对应 team_member.id",
            "example": "f933ba5e2eddeb341b3c3cad1eb763d2"
          },
          "role": {
            "type": "string",
            "description": "角色编码: admin-管理组/director-导演组/storyboard-分镜组/art-美术组/video-视频组/audio-声音组/edit-剪辑组, 或自定义角色编码",
            "example": "storyboard"
          },
          "teamRoleId": {
            "type": "string",
            "description": "自定义角色ID,关联 team_role.id。分配自定义角色时必填",
            "example": "role-uuid-xxx"
          }
        }
      },
      "TeamSwitchRequest": {
        "required": ["teamId"],
        "type": "object",
        "properties": {
          "teamId": {
            "type": "string",
            "description": "目标团队ID, 用户必须是该团队的成员",
            "example": "1"
          }
        }
      },
      "StoryboardUpdateRequest": {
        "type": "object",
        "properties": {
          "title": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string",
            "description": "分镜标题(可选)",
            "example": "开场镜头"
          },
          "description": {
            "type": "string",
            "description": "分镜描述(可选)",
            "example": "女主角走进咖啡厅的广角镜头"
          },
          "prompt": {
            "type": "string",
            "description": "AI提示词/视觉描述(可选)",
            "example": "A young woman walking into a modern cafe, warm lighting"
          },
          "cameraAngle": {
            "type": "string",
            "description": "机位角度(可选)",
            "example": "wide",
            "enum": [
              "wide",
              "medium",
              "close",
              "extreme_close",
              "over_shoulder",
              "pov",
              "birds_eye",
              "dutch"
            ]
          },
          "cameraMovement": {
            "type": "string",
            "description": "镜头运动(可选)",
            "example": "tracking",
            "enum": [
              "fixed",
              "pan",
              "tilt",
              "dolly",
              "crane",
              "tracking",
              "steadicam",
              "zoom",
              "rack"
            ]
          },
          "durationSeconds": {
            "type": "number",
            "description": "预计时长(秒,可选)",
            "example": 5.0
          },
          "scriptText": {
            "type": "string",
            "description": "台词/旁白文本(可选)",
            "example": "又是一个晴朗的早晨..."
          },
          "soundEffect": {
            "type": "string",
            "description": "音效提示(可选)",
            "example": "咖啡机声、轻快的背景音乐"
          },
          "backgroundMusic": {
            "type": "string",
            "description": "背景音乐(可选)",
            "example": "轻松爵士"
          },
          "storyboardNo": {
            "type": "integer",
            "description": "分镜序号(可选,用于重排序,从1开始)",
            "format": "int32",
            "example": 3
          }
        },
        "description": "更新分镜请求(所有字段均为可选，仅更新传入的非空字段)"
      },
      "ResultStoryboardDetailVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": { "$ref": "#/components/schemas/StoryboardDetailVO" },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "StoryboardAssetVO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "关联ID",
            "example": "uuid-001"
          },
          "storyboardId": {
            "type": "string",
            "description": "分镜ID",
            "example": "sb-001"
          },
          "assetId": {
            "type": "string",
            "description": "资产ID",
            "example": "asset-001"
          },
          "assetName": {
            "type": "string",
            "description": "资产名称",
            "example": "女主角立绘"
          },
          "assetType": {
            "type": "string",
            "description": "资产类型",
            "example": "character",
            "enum": ["character", "scene", "prop", "clothes", "audio"]
          },
          "thumbnailUrl": {
            "type": "string",
            "description": "资产缩略图URL",
            "example": "https://cdn.example.com/thumbnails/asset-001.jpg"
          },
          "createTime": {
            "type": "string",
            "description": "创建时间(ISO 8601)",
            "format": "date-time"
          }
        },
        "description": "分镜关联资产"
      },
      "StoryboardDetailVO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "分镜唯一标识符",
            "example": "sb-uuid-001"
          },
          "sceneId": {
            "type": "string",
            "description": "所属镜头(Scene)ID",
            "example": "scene-001"
          },
          "projectId": {
            "type": "string",
            "description": "所属项目ID",
            "example": "proj-001"
          },
          "projectName": {
            "type": "string",
            "description": "项目名称",
            "example": "我的动画短片项目"
          },
          "scriptId": {
            "type": "string",
            "description": "关联剧本ID",
            "example": "script-001"
          },
          "scriptTitle": {
            "type": "string",
            "description": "剧本标题",
            "example": "第一集：古镇重逢"
          },
          "storyboardNo": {
            "type": "integer",
            "description": "分镜序号(同一镜头内从1递增)",
            "format": "int32",
            "example": 3
          },
          "title": {
            "type": "string",
            "description": "分镜标题",
            "example": "开场镜头"
          },
          "description": {
            "type": "string",
            "description": "分镜描述",
            "example": "女主角走进咖啡厅的广角镜头，镜头跟随她移动"
          },
          "prompt": {
            "type": "string",
            "description": "AI提示词/视觉描述",
            "example": "A young woman walking into a modern cafe, warm lighting, wide angle tracking shot"
          },
          "cameraAngle": {
            "type": "string",
            "description": "机位角度",
            "example": "wide",
            "enum": [
              "wide",
              "medium",
              "close",
              "extreme_close",
              "over_shoulder",
              "pov",
              "birds_eye",
              "dutch"
            ]
          },
          "cameraMovement": {
            "type": "string",
            "description": "镜头运动方式",
            "example": "tracking",
            "enum": [
              "fixed",
              "pan",
              "tilt",
              "dolly",
              "crane",
              "tracking",
              "steadicam",
              "zoom",
              "rack"
            ]
          },
          "durationSeconds": {
            "type": "number",
            "description": "预计时长(秒)",
            "example": 5.0
          },
          "scriptText": {
            "type": "string",
            "description": "台词/旁白文本",
            "example": "又是一个晴朗的早晨..."
          },
          "soundEffect": {
            "type": "string",
            "description": "音效提示",
            "example": "咖啡机声、轻快的背景音乐"
          },
          "backgroundMusic": {
            "type": "string",
            "description": "背景音乐",
            "example": "轻松爵士"
          },
          "status": {
            "type": "integer",
            "description": "分镜状态",
            "format": "int32",
            "example": 1,
            "enum": [1, 2, 3, 4]
          },
          "createdBy": {
            "type": "string",
            "description": "创建者用户ID(sys_user.id)",
            "example": "user-001"
          },
          "creatorName": {
            "type": "string",
            "description": "创建者用户名",
            "example": "张三"
          },
          "createTime": {
            "type": "string",
            "description": "创建时间(ISO 8601)",
            "format": "date-time"
          },
          "updateTime": {
            "type": "string",
            "description": "最后更新时间(ISO 8601)",
            "format": "date-time"
          },
          "assets": { "$ref": "#/components/schemas/StoryboardAssetVO" },
          "images": { "$ref": "#/components/schemas/StoryboardImageVO" },
          "recentVersions": {
            "$ref": "#/components/schemas/StoryboardVersionVO"
          }
        },
        "description": "分镜详情(含关联资产、配图、版本历史)"
      },
      "StoryboardImageVO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "图片ID",
            "example": "uuid-001"
          },
          "storyboardId": {
            "type": "string",
            "description": "所属分镜ID",
            "example": "sb-001"
          },
          "imageType": {
            "type": "string",
            "description": "图片类型",
            "example": "main",
            "enum": ["main", "reference", "thumbnail"]
          },
          "url": {
            "type": "string",
            "description": "原图URL",
            "example": "https://cdn.example.com/images/sb-001-main.jpg"
          },
          "thumbnailUrl": {
            "type": "string",
            "description": "缩略图URL",
            "example": "https://cdn.example.com/thumbnails/sb-001-main_thumb.jpg"
          },
          "width": {
            "type": "integer",
            "description": "图片宽度(像素)",
            "format": "int32",
            "example": 1920
          },
          "height": {
            "type": "integer",
            "description": "图片高度(像素)",
            "format": "int32",
            "example": 1080
          },
          "fileSize": {
            "type": "integer",
            "description": "文件大小(字节)",
            "format": "int64",
            "example": 204800
          },
          "copyrightInfo": {
            "type": "string",
            "description": "版权信息",
            "example": "Copyright 2025 Example Studio"
          },
          "createdBy": {
            "type": "string",
            "description": "上传者ID",
            "example": "user-001"
          },
          "creatorName": {
            "type": "string",
            "description": "上传者名称",
            "example": "张三"
          },
          "createTime": {
            "type": "string",
            "description": "创建时间(ISO 8601)",
            "format": "date-time"
          }
        },
        "description": "分镜配图"
      },
      "StoryboardVersionVO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "版本ID",
            "example": "uuid-001"
          },
          "storyboardId": {
            "type": "string",
            "description": "所属分镜ID",
            "example": "sb-001"
          },
          "version": {
            "type": "integer",
            "description": "版本号",
            "format": "int32",
            "example": 3
          },
          "content": {
            "type": "string",
            "description": "分镜内容快照(完整JSON)",
            "example": "{\"title\":\"开场镜头\",\"description\":\"广角镜头\",\"cameraAngle\":\"wide\"}"
          },
          "createdBy": {
            "type": "string",
            "description": "创建者ID",
            "example": "user-001"
          },
          "creatorName": {
            "type": "string",
            "description": "创建者名称",
            "example": "张三"
          },
          "createTime": {
            "type": "string",
            "description": "快照创建时间(ISO 8601)",
            "format": "date-time"
          }
        },
        "description": "分镜版本"
      },
      "ReportUpdateRequest": {
        "type": "object",
        "properties": {
          "reportName": {
            "type": "string",
            "description": "报表名称",
            "example": "月度数据报表"
          },
          "config": {
            "type": "string",
            "description": "报表配置(JSON)",
            "example": "{\"metrics\":[\"project_count\",\"user_count\"]}"
          },
          "period": {
            "type": "string",
            "description": "统计周期",
            "example": "monthly"
          },
          "cron": {
            "type": "string",
            "description": "Cron表达式",
            "example": "0 0 1 1 * ?"
          },
          "recipients": {
            "type": "string",
            "description": "接收人列表(JSON数组)",
            "example": "[\"1\",\"2\"]"
          },
          "status": {
            "type": "integer",
            "description": "状态: 1启用, 0禁用",
            "format": "int32",
            "example": 1
          }
        },
        "description": "更新报表请求"
      },
      "ResultStatisticsReportVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": { "$ref": "#/components/schemas/StatisticsReportVO" },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "StatisticsReportVO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "报表ID",
            "example": "report-001"
          },
          "reportName": {
            "type": "string",
            "description": "报表名称",
            "example": "月度数据报表"
          },
          "reportType": {
            "type": "string",
            "description": "报表类型",
            "example": "project_summary"
          },
          "period": {
            "type": "string",
            "description": "统计周期",
            "example": "monthly"
          },
          "cron": {
            "type": "string",
            "description": "Cron表达式",
            "example": "0 0 1 1 * ?"
          },
          "lastSendTime": {
            "type": "string",
            "description": "最后发送时间",
            "format": "date-time"
          },
          "status": {
            "type": "integer",
            "description": "状态: 1-启用, 0-禁用",
            "format": "int32",
            "example": 1
          },
          "createTime": {
            "type": "string",
            "description": "创建时间",
            "format": "date-time"
          }
        },
        "description": "统计报表视图对象"
      },
      "ScriptUpdateRequest": {
        "type": "object",
        "properties": {
          "title": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string",
            "description": "剧本标题",
            "example": "第一季完整剧本(修订版)"
          },
          "description": {
            "maxLength": 2000,
            "minLength": 0,
            "type": "string",
            "description": "剧本描述",
            "example": "第一季12集的完整剧本修订版,新增第13集"
          },
          "content": {
            "type": "string",
            "description": "剧本正文内容",
            "example": "第一集：清晨的阳光洒在...(更新)"
          },
          "status": {
            "type": "integer",
            "description": "状态: 1-草稿, 2-待审核, 3-已通过, 4-已驳回",
            "format": "int32",
            "example": 2
          }
        },
        "description": "更新剧本请求"
      },
      "CreativeAssetUpdateRequest": {
        "type": "object",
        "properties": {
          "assetName": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string",
            "description": "资产名称",
            "example": "男主角-李明(修订)"
          },
          "assetType": {
            "type": "string",
            "description": "资产分类: character/costume/scene/prop/other",
            "example": "character"
          },
          "description": {
            "maxLength": 2000,
            "minLength": 0,
            "type": "string",
            "description": "资产描述",
            "example": "30岁男性主角，身材高大，黑色短发，左脸有疤痕"
          },
          "referenceUrl": {
            "maxLength": 500,
            "minLength": 0,
            "type": "string",
            "description": "参考图URL",
            "example": "https://example.com/ref/char-01-v2.jpg"
          },
          "extraData": {
            "type": "string",
            "description": "扩展数据JSON",
            "example": "{\"age\":30,\"gender\":\"male\",\"scar\":true}"
          },
          "tags": {
            "type": "array",
            "description": "内联标签",
            "example": ["主角", "男性", "疤痕"],
            "items": {
              "type": "string",
              "description": "内联标签",
              "example": "[\"主角\",\"男性\",\"疤痕\"]"
            }
          },
          "reviewStatus": {
            "type": "string",
            "description": "审核状态: not_submitted/pending/approved/rejected",
            "example": "approved"
          },
          "parentAssetId": {
            "type": "string",
            "description": "管线父资产ID",
            "example": "uuid-parent"
          },
          "libraryAssetId": {
            "type": "string",
            "description": "团队资产库引用ID",
            "example": "lib-001"
          },
          "sortOrder": {
            "type": "integer",
            "description": "排序",
            "format": "int32",
            "example": 1
          },
          "assetLevel": {
            "type": "string",
            "description": "人物等级: 主角/配角/龙套",
            "example": "主角"
          },
          "assetAliases": {
            "type": "array",
            "description": "别名列表",
            "example": ["陆大天才"],
            "items": {
              "type": "string",
              "description": "别名列表",
              "example": "[\"陆大天才\"]"
            }
          },
          "assetCategory": {
            "type": "string",
            "description": "道具分类: 信物/武器",
            "example": "信物"
          },
          "assetOwner": {
            "type": "string",
            "description": "道具归属人物",
            "example": "陆洵"
          },
          "assetCharacterRef": {
            "type": "string",
            "description": "服装关联人物",
            "example": "赵凯越"
          },
          "assetSceneRef": {
            "type": "string",
            "description": "服装关联场景/集数",
            "example": "1-1"
          },
          "assetSceneType": {
            "type": "string",
            "description": "场景类型: 室外/室内",
            "example": "室外"
          }
        },
        "description": "更新创意资产请求"
      },
      "ReorderItem": {
        "required": ["newOrder", "storyboardId"],
        "type": "object",
        "properties": {
          "storyboardId": {
            "type": "string",
            "description": "分镜ID",
            "example": "uuid-001"
          },
          "newOrder": {
            "minimum": 1,
            "type": "integer",
            "description": "新的分镜序号(从1开始)",
            "format": "int32",
            "example": 1
          }
        },
        "description": "排序项(分镜ID+新序号)",
        "example": [
          { "storyboardId": "uuid-001", "newOrder": 1 },
          { "storyboardId": "uuid-002", "newOrder": 2 }
        ]
      },
      "StoryboardReorderRequest": {
        "required": ["items"],
        "type": "object",
        "properties": {
          "items": {
            "maxItems": 200,
            "minItems": 0,
            "type": "array",
            "description": "排序项列表,每项包含分镜ID和新序号",
            "example": [
              { "storyboardId": "uuid-001", "newOrder": 1 },
              { "storyboardId": "uuid-002", "newOrder": 2 }
            ],
            "items": { "$ref": "#/components/schemas/ReorderItem" }
          }
        },
        "description": "分镜排序请求"
      },
      "ReviewRouteConfigRequest": {
        "required": ["projectId"],
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "description": "项目ID",
            "example": "proj-001"
          },
          "routes": {
            "maxItems": 20,
            "minItems": 0,
            "type": "array",
            "description": "路由规则列表",
            "items": { "$ref": "#/components/schemas/RouteRule" }
          },
          "isActive": {
            "type": "boolean",
            "description": "是否启用打回路由",
            "example": true
          }
        },
        "description": "审核路由配置请求"
      },
      "RouteRule": {
        "type": "object",
        "properties": {
          "rejectTag": {
            "type": "string",
            "description": "驳回标记: storyboard/art/video/audio/edit",
            "example": "storyboard"
          },
          "targetGroup": {
            "type": "string",
            "description": "目标组别: storyboard/art/video/audio/edit",
            "example": "storyboard"
          },
          "description": {
            "type": "string",
            "description": "规则说明",
            "example": "分镜问题打回分镜组"
          }
        },
        "description": "路由规则"
      },
      "ResultReviewRouteConfigVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": { "$ref": "#/components/schemas/ReviewRouteConfigVO" },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ReviewRouteConfigVO": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "description": "项目ID",
            "example": "proj-001"
          },
          "routes": {
            "type": "array",
            "description": "路由规则列表",
            "items": { "$ref": "#/components/schemas/RouteRuleVO" }
          },
          "isActive": {
            "type": "boolean",
            "description": "是否启用打回路由",
            "example": true
          }
        },
        "description": "审核路由配置"
      },
      "RouteRuleVO": {
        "type": "object",
        "properties": {
          "rejectTag": {
            "type": "string",
            "description": "驳回标记",
            "example": "storyboard"
          },
          "targetGroup": {
            "type": "string",
            "description": "目标组别",
            "example": "storyboard"
          },
          "description": {
            "type": "string",
            "description": "规则说明",
            "example": "分镜问题打回分镜组"
          }
        },
        "description": "路由规则"
      },
      "ProjectUpdateRequest": {
        "type": "object",
        "properties": {
          "projectName": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string",
            "description": "项目名称",
            "example": "我的 AI 短剧-改"
          },
          "description": {
            "maxLength": 2000,
            "minLength": 0,
            "type": "string",
            "description": "项目描述",
            "example": "这是一个关于星际探险的 AI 短剧项目(第二季)"
          }
        },
        "description": "更新项目请求(封面通过 /api/projects/{projectId}/cover 单独上传)"
      },
      "WebhookConfigRequest": {
        "required": ["events", "url"],
        "type": "object",
        "properties": {
          "url": { "type": "string", "description": "回调URL" },
          "secret": { "type": "string", "description": "签名密钥" },
          "events": {
            "type": "string",
            "description": "事件(逗号分隔): video.completed,video.failed,review.decided,export.completed"
          },
          "isEnabled": { "type": "boolean", "description": "是否启用" }
        }
      },
      "ResultWebhookConfig": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": { "$ref": "#/components/schemas/WebhookConfig" },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "WebhookConfig": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "projectId": { "type": "string" },
          "url": { "type": "string" },
          "secret": { "type": "string" },
          "events": { "type": "string" },
          "isEnabled": { "type": "integer", "format": "int32" },
          "createTime": { "type": "string", "format": "date-time" },
          "updateTime": { "type": "string", "format": "date-time" },
          "deleted": { "type": "integer", "format": "int32" }
        }
      },
      "EpisodeUpdateRequest": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "description": "所属项目唯一标识符",
            "example": "proj-abc123"
          },
          "episodeKey": {
            "type": "string",
            "description": "剧集标识键(用于排序和展示,如ep-01、prologue、side-story等)",
            "example": "ep-03"
          },
          "content": {
            "type": "string",
            "description": "剧集的剧本正文内容(纯文本)",
            "example": "第三集：陆寻来到大排档，环顾四周寻找方锐的身影..."
          },
          "sortOrder": {
            "type": "integer",
            "description": "剧集在项目中的排序位置(从0开始递增)",
            "format": "int32",
            "example": 2
          },
          "childOf": {
            "type": "string",
            "description": "父级剧集标识符(支持层级/子剧集,为空表示顶级剧集)",
            "nullable": true
          }
        },
        "description": "剧集更新/创建请求"
      },
      "EpisodeVO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "剧集唯一标识符(UUID格式)，用于后续分镜拆解接口的路径参数",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "projectId": {
            "type": "string",
            "description": "所属项目唯一标识符",
            "example": "proj-abc123"
          },
          "episodeKey": {
            "type": "string",
            "description": "剧集标识键(用于排序和展示,如ep-01、prologue、side-story等)",
            "example": "ep-03"
          },
          "content": {
            "type": "string",
            "description": "剧集的剧本正文内容(纯文本)",
            "example": "第三集：陆寻来到大排档，环顾四周寻找方锐的身影..."
          },
          "sortOrder": {
            "type": "integer",
            "description": "剧集在项目中的排序位置(从0开始递增)",
            "format": "int32",
            "example": 2
          },
          "childOf": {
            "type": "string",
            "description": "父级剧集标识符(支持层级/子剧集,为空表示顶级剧集)",
            "example": "550e8400-e29b-41d4-a716-446655440001"
          },
          "createTime": {
            "type": "string",
            "description": "剧集创建时间(ISO 8601格式)",
            "format": "date-time"
          }
        },
        "description": "剧集信息"
      },
      "ResultEpisodeVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": { "$ref": "#/components/schemas/EpisodeVO" },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "VideoPromptUpdateRequest": {
        "required": ["promptText"],
        "type": "object",
        "properties": {
          "promptText": {
            "type": "string",
            "description": "修改后的提示词文本"
          },
          "shotIndex": {
            "type": "integer",
            "description": "镜头序号",
            "format": "int32"
          },
          "fieldName": { "type": "string", "description": "要更新的字段名" }
        },
        "description": "视频提示词更新请求"
      },
      "ProjectReviewConfigUpdateRequest": {
        "type": "object",
        "properties": {
          "storyboard": {
            "type": "boolean",
            "description": "分镜审核开关",
            "example": true
          },
          "firstFrame": {
            "type": "boolean",
            "description": "首帧图审核开关",
            "example": false
          },
          "video": {
            "type": "boolean",
            "description": "视频审核开关",
            "example": true
          }
        },
        "description": "项目审核开关更新请求"
      },
      "CharacterUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string",
            "description": "角色名称"
          },
          "age": {
            "type": "integer",
            "description": "年龄",
            "format": "int32"
          },
          "gender": { "type": "string", "description": "性别" },
          "appearance": { "type": "string", "description": "外貌描述" },
          "personality": { "type": "string", "description": "性格描述" },
          "voice": { "type": "string", "description": "配音风格" },
          "avatar": { "type": "string", "description": "头像图片对象键" }
        },
        "description": "更新角色请求"
      },
      "CharacterVO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "角色ID",
            "example": "char-abc123"
          },
          "projectId": {
            "type": "string",
            "description": "项目ID",
            "example": "proj-abc123"
          },
          "name": {
            "type": "string",
            "description": "角色名称",
            "example": "陆寻"
          },
          "age": {
            "type": "integer",
            "description": "年龄",
            "format": "int32",
            "example": 25
          },
          "gender": {
            "type": "string",
            "description": "性别",
            "example": "male"
          },
          "appearance": {
            "type": "string",
            "description": "外貌描述",
            "example": "身高178cm，黑色短发，深邃眼神"
          },
          "personality": {
            "type": "string",
            "description": "性格描述",
            "example": "沉稳内敛，富有正义感"
          },
          "voice": {
            "type": "string",
            "description": "配音风格",
            "example": "低沉磁性"
          },
          "avatar": {
            "type": "string",
            "description": "头像",
            "example": "https://cdn.example.com/characters/char-abc123.jpg"
          },
          "createTime": {
            "type": "string",
            "description": "创建时间",
            "format": "date-time"
          },
          "updateTime": {
            "type": "string",
            "description": "更新时间",
            "format": "date-time"
          }
        },
        "description": "角色信息"
      },
      "ResultCharacterVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": { "$ref": "#/components/schemas/CharacterVO" },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "AssetUpdateRequest": {
        "type": "object",
        "properties": {
          "assetName": {
            "type": "string",
            "description": "资产名称",
            "example": "更新后的角色设计图"
          },
          "description": {
            "type": "string",
            "description": "资产描述",
            "example": "更新后的描述信息"
          },
          "categoryId": {
            "type": "string",
            "description": "分类ID",
            "example": "2"
          },
          "assetType": {
            "type": "string",
            "description": "资产类型: character/scene/prop/audio/template",
            "example": "character"
          },
          "isPublic": {
            "type": "integer",
            "description": "是否公开: 0私有 1公开",
            "format": "int32",
            "example": 1
          }
        },
        "description": "更新资产元数据请求"
      },
      "NotificationPreferenceRequest": {
        "type": "object",
        "properties": {
          "preferences": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "boolean",
                "description": "偏好设置(key: 分类, value: {channel: enabled})",
                "example": false
              },
              "description": "偏好设置(key: 分类, value: {channel: enabled})",
              "example": { "system": { "inApp": true, "email": false } }
            },
            "description": "偏好设置(key: 分类, value: {channel: enabled})",
            "example": { "system": { "inApp": true, "email": false } }
          },
          "dndStart": {
            "type": "string",
            "description": "免打扰开始时间(HH:mm)",
            "example": "22:00"
          },
          "dndEnd": {
            "type": "string",
            "description": "免打扰结束时间(HH:mm)",
            "example": "08:00"
          },
          "dndWeekend": {
            "type": "boolean",
            "description": "周末是否启用免打扰",
            "example": true
          },
          "dndExceptions": {
            "maxItems": 100,
            "minItems": 0,
            "type": "array",
            "description": "免打扰例外日期列表(yyyy-MM-dd)",
            "example": ["2026-05-01"],
            "items": {
              "type": "string",
              "description": "免打扰例外日期列表(yyyy-MM-dd)",
              "example": "[\"2026-05-01\"]"
            }
          }
        },
        "description": "通知偏好设置请求"
      },
      "NotificationDndRequest": {
        "type": "object",
        "properties": {
          "startTime": {
            "type": "string",
            "description": "免打扰开始时间(HH:mm)",
            "example": "22:00"
          },
          "endTime": {
            "type": "string",
            "description": "免打扰结束时间(HH:mm)",
            "example": "08:00"
          },
          "weekendDnd": {
            "type": "boolean",
            "description": "周末是否启用免打扰",
            "example": true
          },
          "exceptions": {
            "maxItems": 100,
            "minItems": 0,
            "type": "array",
            "description": "免打扰例外日期列表(yyyy-MM-dd)",
            "example": ["2026-05-01"],
            "items": {
              "type": "string",
              "description": "免打扰例外日期列表(yyyy-MM-dd)",
              "example": "[\"2026-05-01\"]"
            }
          }
        },
        "description": "免打扰设置请求"
      },
      "EditProjectCreateRequest": {
        "required": ["projectName", "teamId"],
        "type": "object",
        "properties": {
          "teamId": {
            "type": "string",
            "description": "团队ID",
            "example": "team-001"
          },
          "projectName": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string",
            "description": "剪辑项目名称",
            "example": "第一集成片"
          },
          "description": { "type": "string", "description": "项目描述" }
        },
        "description": "创建剪辑项目请求"
      },
      "EditProjectVO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "项目ID",
            "example": "edit-proj-001"
          },
          "projectName": {
            "type": "string",
            "description": "项目名称",
            "example": "短剧第一集剪辑"
          },
          "description": {
            "type": "string",
            "description": "描述",
            "example": "第一集粗剪版本"
          },
          "teamId": {
            "type": "string",
            "description": "团队ID",
            "example": "team-001"
          },
          "sourceProjectId": {
            "type": "string",
            "description": "来源项目ID",
            "example": "proj-abc123"
          },
          "createdBy": {
            "type": "string",
            "description": "创建者ID",
            "example": "user-001"
          },
          "creatorName": {
            "type": "string",
            "description": "创建者名称",
            "example": "张三"
          },
          "segmentCount": {
            "type": "integer",
            "description": "片段数量",
            "format": "int32",
            "example": 12
          },
          "totalDuration": {
            "type": "number",
            "description": "总时长(秒)",
            "format": "float",
            "example": 180.5
          },
          "segments": {
            "type": "array",
            "description": "片段列表",
            "items": { "$ref": "#/components/schemas/EditSegmentVO" }
          },
          "createTime": {
            "type": "string",
            "description": "创建时间",
            "format": "date-time"
          }
        },
        "description": "剪辑项目"
      },
      "EditSegmentVO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "片段ID",
            "example": "seg-001"
          },
          "editProjectId": {
            "type": "string",
            "description": "剪辑项目ID",
            "example": "edit-proj-001"
          },
          "videoId": {
            "type": "string",
            "description": "视频ID",
            "example": "vid-001"
          },
          "videoName": {
            "type": "string",
            "description": "视频名称",
            "example": "开场镜头"
          },
          "videoUrl": {
            "type": "string",
            "description": "视频URL",
            "example": "https://cdn.example.com/videos/vid-001.mp4"
          },
          "segmentOrder": {
            "type": "integer",
            "description": "片段顺序",
            "format": "int32",
            "example": 1
          },
          "startTime": {
            "type": "number",
            "description": "开始时间(秒)",
            "format": "float",
            "example": 0.0
          },
          "endTime": {
            "type": "number",
            "description": "结束时间(秒)",
            "format": "float",
            "example": 15.5
          },
          "effects": {
            "type": "string",
            "description": "特效配置",
            "example": "{\"transition\":\"fade\",\"filter\":\"warm\"}"
          },
          "createTime": {
            "type": "string",
            "description": "创建时间",
            "format": "date-time"
          }
        },
        "description": "剪辑片段"
      },
      "ResultEditProjectVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": { "$ref": "#/components/schemas/EditProjectVO" },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "EditSegmentCreateRequest": {
        "required": ["videoId"],
        "type": "object",
        "properties": {
          "videoId": {
            "type": "string",
            "description": "视频ID",
            "example": "video-001"
          },
          "startTime": {
            "type": "number",
            "description": "开始时间(秒)",
            "format": "float",
            "example": 0.0
          },
          "endTime": {
            "type": "number",
            "description": "结束时间(秒)",
            "format": "float",
            "example": 5.5
          },
          "effects": { "type": "string", "description": "特效配置(JSON)" },
          "endTimeAfterStartTime": { "type": "boolean" }
        },
        "description": "添加剪辑片段请求"
      },
      "EditSegmentReorderRequest": {
        "required": ["items"],
        "type": "object",
        "properties": {
          "items": {
            "maxItems": 200,
            "minItems": 0,
            "type": "array",
            "description": "排序项列表",
            "items": { "$ref": "#/components/schemas/ReorderItem" }
          }
        },
        "description": "片段排序请求"
      },
      "CreditAlertThresholdRequest": {
        "required": ["accountId", "threshold"],
        "type": "object",
        "properties": {
          "accountId": { "type": "string", "description": "积分账户ID" },
          "threshold": {
            "minimum": 0.0,
            "exclusiveMinimum": false,
            "type": "number",
            "description": "预警阈值"
          },
          "enabled": {
            "type": "integer",
            "description": "是否启用: 1=启用, 0=禁用",
            "format": "int32"
          }
        },
        "description": "设置预警阈值请求"
      },
      "CreditAlertThresholdVO": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "ID" },
          "accountId": { "type": "string", "description": "积分账户ID" },
          "threshold": { "type": "number", "description": "预警阈值" },
          "enabled": {
            "type": "integer",
            "description": "是否启用: 1=启用, 0=禁用",
            "format": "int32"
          }
        },
        "description": "积分预警阈值"
      },
      "ResultCreditAlertThresholdVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": { "$ref": "#/components/schemas/CreditAlertThresholdVO" },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "UpdateUserRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "邮箱",
            "example": "newemail@example.com"
          },
          "username": {
            "maxLength": 50,
            "minLength": 3,
            "type": "string",
            "description": "用户名",
            "example": "newusername"
          },
          "phone": {
            "type": "string",
            "description": "手机号",
            "example": "13900139000"
          }
        },
        "description": "修改用户信息请求"
      },
      "LoginVO": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "AccessToken, 请求时添加 Authorization: Bearer {token}",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxIn0.signature"
          },
          "refreshToken": {
            "type": "string",
            "description": "RefreshToken, 用于获取新的 AccessToken",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxIn0.refresh"
          },
          "tokenType": {
            "type": "string",
            "description": "令牌类型, 固定为 Bearer",
            "example": "Bearer"
          },
          "expiresIn": {
            "type": "integer",
            "description": "AccessToken 过期时间(秒), 默认 12 小时(43200 秒)",
            "format": "int64",
            "example": 43200
          },
          "refreshExpiresIn": {
            "type": "integer",
            "description": "RefreshToken 过期时间(秒), 默认 7 天(604800 秒)",
            "format": "int64",
            "example": 604800
          },
          "userId": {
            "type": "string",
            "description": "用户ID",
            "example": "1"
          },
          "username": {
            "type": "string",
            "description": "用户名",
            "example": "zhangsan"
          },
          "avatar": {
            "type": "string",
            "description": "用户头像URL",
            "example": "https://example.com/avatar/1.jpg"
          },
          "email": {
            "type": "string",
            "description": "用户邮箱",
            "example": "zhangsan@example.com"
          }
        }
      },
      "ResultLoginVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": { "$ref": "#/components/schemas/LoginVO" },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ResultVideoModelVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": { "$ref": "#/components/schemas/VideoModelVO" },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "VideoModelVO": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "模型ID", "example": "1" },
          "modelName": {
            "type": "string",
            "description": "模型名称",
            "example": "ComfyUI Video v1"
          },
          "modelCode": {
            "type": "string",
            "description": "模型编码",
            "example": "comfyui-v1"
          },
          "modelType": {
            "type": "string",
            "description": "模型类型: video/image/audio",
            "example": "video"
          },
          "provider": {
            "type": "string",
            "description": "供应商: internal/comfyui/dify/liblib",
            "example": "comfyui"
          },
          "config": {
            "type": "string",
            "description": "模型配置(JSON)",
            "example": "{\"endpoint\":\"http://localhost:8188\"}"
          },
          "priority": {
            "type": "integer",
            "description": "优先级, 数值越大越优先",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "integer",
            "description": "状态: 1-启用, 0-禁用",
            "format": "int32",
            "example": 1
          },
          "createTime": {
            "type": "string",
            "description": "创建时间",
            "format": "date-time"
          },
          "updateTime": {
            "type": "string",
            "description": "更新时间",
            "format": "date-time"
          }
        },
        "description": "视频模型"
      },
      "SysMenuUpdateRequest": {
        "type": "object",
        "properties": {
          "parentId": { "type": "string", "description": "父菜单ID" },
          "name": { "type": "string", "description": "菜单名称" },
          "path": { "type": "string", "description": "路由路径" },
          "icon": { "type": "string", "description": "图标" },
          "sortOrder": {
            "type": "integer",
            "description": "排序号",
            "format": "int32"
          },
          "enabled": {
            "type": "integer",
            "description": "是否启用: 1=启用, 0=禁用",
            "format": "int32"
          }
        },
        "description": "更新菜单请求"
      },
      "ResultSysMenuVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": { "$ref": "#/components/schemas/SysMenuVO" },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "SysMenuVO": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "菜单ID" },
          "parentId": { "type": "string", "description": "父菜单ID" },
          "name": { "type": "string", "description": "菜单名称" },
          "path": { "type": "string", "description": "路由路径" },
          "icon": { "type": "string", "description": "图标" },
          "sortOrder": {
            "type": "integer",
            "description": "排序号",
            "format": "int32"
          },
          "enabled": {
            "type": "integer",
            "description": "是否启用: 1=启用, 0=禁用",
            "format": "int32"
          },
          "children": {
            "type": "array",
            "description": "子菜单列表",
            "items": { "$ref": "#/components/schemas/SysMenuVO" }
          }
        },
        "description": "菜单树节点"
      },
      "SysMenuOrderItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "菜单ID" },
          "sortOrder": {
            "type": "integer",
            "description": "排序号",
            "format": "int32"
          }
        },
        "description": "菜单排序项"
      },
      "SysMenuReorderRequest": {
        "required": ["items"],
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "菜单排序列表",
            "items": { "$ref": "#/components/schemas/SysMenuOrderItem" }
          }
        },
        "description": "菜单排序请求"
      },
      "DifyWorkflowUpdateRequest": {
        "type": "object",
        "properties": {
          "workflowCode": {
            "maxLength": 64,
            "minLength": 0,
            "pattern": "^[a-zA-Z][a-zA-Z0-9_-]*$",
            "type": "string",
            "description": "工作流唯一编码",
            "example": "image_to_3d_generation_v2"
          },
          "workflowName": {
            "maxLength": 128,
            "minLength": 0,
            "type": "string",
            "description": "工作流显示名称",
            "example": "图片转3D场景生成 v2"
          },
          "workflowType": {
            "maxLength": 32,
            "minLength": 0,
            "type": "string",
            "description": "工作流类型",
            "example": "image/video",
            "enum": [
              "text/text",
              "text/image",
              "image/image",
              "image/video",
              "text/video",
              "audio/text",
              "text/audio",
              "multi-modal"
            ]
          },
          "difyApiKey": {
            "maxLength": 256,
            "minLength": 0,
            "type": "string",
            "description": "Dify API Key(明文传入,更新时重新加密存储)"
          },
          "difyBaseUrl": {
            "maxLength": 256,
            "minLength": 0,
            "type": "string",
            "description": "Dify API 基础地址",
            "example": "https://api.dify.ai/v1"
          },
          "inputSchema": {
            "type": "string",
            "description": "输入参数 JSON Schema 字符串"
          },
          "outputSchema": {
            "type": "string",
            "description": "输出参数 JSON Schema 字符串"
          },
          "description": {
            "maxLength": 2000,
            "minLength": 0,
            "type": "string",
            "description": "工作流描述"
          },
          "icon": {
            "maxLength": 256,
            "minLength": 0,
            "type": "string",
            "description": "图标 URL 或标识"
          },
          "category": {
            "maxLength": 64,
            "minLength": 0,
            "type": "string",
            "description": "分类",
            "example": "视频生成",
            "enum": ["文案生成", "图像处理", "视频生成", "音频处理"]
          },
          "timeoutSeconds": {
            "minimum": 1,
            "type": "integer",
            "description": "超时时间(秒)",
            "format": "int32",
            "example": 600
          },
          "maxRetries": {
            "minimum": 0,
            "type": "integer",
            "description": "最大重试次数",
            "format": "int32",
            "example": 2
          },
          "extraConfig": {
            "type": "string",
            "description": "扩展配置 JSON 字符串"
          }
        },
        "description": "更新工作流请求"
      },
      "DifyWorkflowVO": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "工作流ID", "example": "1" },
          "workflowCode": {
            "type": "string",
            "description": "工作流编码",
            "example": "image_to_3d_generation"
          },
          "workflowName": {
            "type": "string",
            "description": "工作流名称",
            "example": "图片转3D场景生成"
          },
          "workflowType": {
            "type": "string",
            "description": "工作流类型",
            "example": "image/video"
          },
          "category": {
            "type": "string",
            "description": "分类",
            "example": "视频生成"
          },
          "icon": {
            "type": "string",
            "description": "图标",
            "example": "icon-video"
          },
          "description": {
            "type": "string",
            "description": "描述",
            "example": "将参考图片转换为3D漫游视频"
          },
          "isEnabled": {
            "type": "integer",
            "description": "是否启用: 0-禁用, 1-启用",
            "format": "int32",
            "example": 1
          },
          "timeoutSeconds": {
            "type": "integer",
            "description": "超时时间(秒)",
            "format": "int32",
            "example": 600
          },
          "createTime": {
            "type": "string",
            "description": "创建时间",
            "format": "date-time"
          },
          "updateTime": {
            "type": "string",
            "description": "更新时间",
            "format": "date-time"
          }
        },
        "description": "工作流列表项"
      },
      "ResultDifyWorkflowVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": { "$ref": "#/components/schemas/DifyWorkflowVO" },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ConfigRequest": {
        "required": ["configKey"],
        "type": "object",
        "properties": {
          "configKey": {
            "type": "string",
            "description": "配置键",
            "example": "app.max_upload_size"
          },
          "configValue": {
            "type": "string",
            "description": "配置值",
            "example": "10485760"
          },
          "valueType": {
            "type": "string",
            "description": "值类型: string | number | boolean | json",
            "example": "number"
          },
          "isEncrypted": {
            "type": "boolean",
            "description": "是否 AES 加密存储",
            "example": false
          },
          "isSensitive": {
            "type": "boolean",
            "description": "是否敏感信息(API 返回时脱敏)",
            "example": false
          },
          "groupName": {
            "type": "string",
            "description": "配置分组",
            "example": "upload"
          },
          "description": {
            "type": "string",
            "description": "配置说明",
            "example": "最大上传文件大小(字节)"
          }
        },
        "description": "配置请求"
      },
      "PricingUpdateRequest": {
        "required": ["modelName"],
        "type": "object",
        "properties": {
          "modelName": { "maxLength": 100, "minLength": 0, "type": "string" },
          "modelType": { "maxLength": 30, "minLength": 0, "type": "string" },
          "workflowCode": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string"
          },
          "inputPrice": {
            "minimum": 0,
            "exclusiveMinimum": false,
            "type": "number"
          },
          "outputPrice": {
            "minimum": 0,
            "exclusiveMinimum": false,
            "type": "number"
          },
          "creditRatio": {
            "minimum": 0,
            "exclusiveMinimum": false,
            "type": "number"
          },
          "isActive": { "type": "integer", "format": "int32" },
          "description": { "maxLength": 200, "minLength": 0, "type": "string" },
          "changeReason": { "maxLength": 500, "minLength": 0, "type": "string" }
        }
      },
      "CreditPricingConfig": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "aiProvider": { "type": "string" },
          "modelName": { "type": "string" },
          "tokensPerCredit": { "type": "integer", "format": "int32" },
          "description": { "type": "string" },
          "isActive": { "type": "integer", "format": "int32" },
          "modelType": { "type": "string" },
          "workflowCode": { "type": "string" },
          "inputPrice": { "type": "number" },
          "outputPrice": { "type": "number" },
          "creditRatio": { "type": "number" },
          "updateBy": { "type": "string" },
          "createTime": { "type": "string", "format": "date-time" },
          "updateTime": { "type": "string", "format": "date-time" }
        }
      },
      "ResultCreditPricingConfig": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": { "$ref": "#/components/schemas/CreditPricingConfig" },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "TeamRoleCreateRequest": {
        "required": ["roleCode", "roleName"],
        "type": "object",
        "properties": {
          "roleName": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string",
            "description": "角色名称",
            "example": "编辑"
          },
          "roleCode": {
            "maxLength": 100,
            "minLength": 0,
            "pattern": "^[a-zA-Z0-9_]+$",
            "type": "string",
            "description": "角色编码(字母数字下划线，团队内唯一)",
            "example": "editor"
          },
          "description": {
            "maxLength": 500,
            "minLength": 0,
            "type": "string",
            "description": "角色描述",
            "example": "可编辑项目内容"
          }
        },
        "description": "创建团队角色请求"
      },
      "ResultTeamRoleVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": { "$ref": "#/components/schemas/TeamRoleVO" },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "TeamRoleVO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "角色ID",
            "example": "r1a2b3c4-d5e6-7890-abcd-ef1234567890"
          },
          "roleName": {
            "type": "string",
            "description": "角色名称",
            "example": "编辑"
          },
          "roleCode": {
            "type": "string",
            "description": "角色编码",
            "example": "editor"
          },
          "description": {
            "type": "string",
            "description": "角色描述",
            "example": "可编辑项目内容"
          },
          "permissionCount": {
            "type": "integer",
            "description": "关联权限数量",
            "format": "int32",
            "example": 5
          },
          "memberCount": {
            "type": "integer",
            "description": "拥有该角色的成员数量",
            "format": "int32",
            "example": 3
          }
        },
        "description": "团队角色(列表)"
      },
      "MemberBatchImportRequest": {
        "required": ["userIds"],
        "type": "object",
        "properties": {
          "userIds": {
            "type": "array",
            "description": "用户ID列表, 需要导入的用户ID集合",
            "example": "1,2,3",
            "items": {
              "type": "string",
              "description": "用户ID列表, 需要导入的用户ID集合",
              "example": "1,2,3"
            }
          }
        }
      },
      "InviteCodeCreateRequest": {
        "required": ["teamId"],
        "type": "object",
        "properties": {
          "teamId": {
            "type": "string",
            "description": "所属团队ID",
            "example": "1"
          },
          "maxUses": {
            "type": "integer",
            "description": "最大使用次数, 默认 1 次, 不传则为单次使用",
            "format": "int32",
            "example": 10
          },
          "expireTime": {
            "type": "string",
            "description": "过期时间, null 表示永不过期",
            "format": "date-time"
          }
        }
      },
      "InviteCodeVO": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "邀请码ID", "example": "1" },
          "code": {
            "type": "string",
            "description": "邀请码字符串",
            "example": "ABCD-EFGH-IJKL"
          },
          "teamId": {
            "type": "string",
            "description": "所属团队ID",
            "example": "1"
          },
          "teamName": {
            "type": "string",
            "description": "团队名称",
            "example": "星辰创作团队"
          },
          "createdBy": {
            "type": "string",
            "description": "创建者用户ID",
            "example": "1001"
          },
          "createdByName": {
            "type": "string",
            "description": "创建者用户名",
            "example": "zhangsan"
          },
          "maxUses": {
            "type": "integer",
            "description": "最大使用次数",
            "format": "int32",
            "example": 10
          },
          "usedCount": {
            "type": "integer",
            "description": "已使用次数",
            "format": "int32",
            "example": 3
          },
          "remainingUses": {
            "type": "integer",
            "description": "剩余使用次数",
            "format": "int32",
            "example": 7
          },
          "expireTime": {
            "type": "string",
            "description": "过期时间, null 表示永不过期",
            "format": "date-time"
          },
          "status": {
            "type": "integer",
            "description": "状态: 1-有效, 0-已撤销, 2-已过期",
            "format": "int32",
            "example": 1
          },
          "createTime": {
            "type": "string",
            "description": "创建时间",
            "format": "date-time"
          }
        }
      },
      "ResultInviteCodeVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
[...]
