{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition - 管理后台-用户管理",
    "version": "v0",
    "description": "模块: 管理后台-用户管理"
  },
  "servers": [
    {
      "url": "http://server.bsuniversal.cn:10006",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "管理后台-用户管理",
      "description": "平台管理员用户管理接口"
    }
  ],
  "paths": {
    "/api/admin/users/{id}/status": {
      "put": {
        "tags": ["管理后台-用户管理"],
        "summary": "启用/禁用用户",
        "description": "status: 0=禁用, 1=启用",
        "operationId": "toggleStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/users": {
      "get": {
        "tags": ["管理后台-用户管理"],
        "summary": "用户列表",
        "description": "分页查询用户,支持用户名/邮箱搜索",
        "operationId": "list_2",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页大小",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            },
            "example": 20
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "搜索关键词(用户名/邮箱)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultPageResultSysUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/users/{id}": {
      "get": {
        "tags": ["管理后台-用户管理"],
        "summary": "用户详情",
        "operationId": "detail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultSysUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResultVoid": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "type": "object"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ResultObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "type": "object"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ResultPageResultSysUser": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/PageResultSysUser"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      },
      "ResultSysUser": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "响应状态码",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/SysUser"
          },
          "timestamp": {
            "type": "integer",
            "description": "时间戳(毫秒)",
            "format": "int64"
          }
        }
      }
    }
  }
}
